.admin-restaurants-page {
  margin-left: 240px;
  padding: 40px;
  background: #ffffff;
  min-height: 100vh;
}

.admin-restaurants-page h1 {
  margin-top: 40px;
  margin-left: 7px;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 25px;
  color: #ff5722;
}

/* === Search Bar === */
.search-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  width: 40%;
}

.search-wrapper {
  position: relative;
  flex: 1;
}

.search-wrapper input {
  width: 100%;
  padding: 10px 40px 10px 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  font-size: 0.9rem;
}

.search-section button {
  background: #ff5722;
  color: #fff;
  border: none;
  padding: 9px 12px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
  margin-left: 60px;
  font-size: 1rem;
}

.search-section button:hover {
  background: #e64a19;
}

.clear-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  cursor: pointer;
  margin-right: -57px;
  margin-top: -1px;
}

/* === Restaurant Grid === */
.restaurant-section {
  margin-top: 20px;
}

.restaurant-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.restaurant-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  width: 285px;
  text-align: center;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: -15px;
}

.restaurant-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.25);
}

.restaurant-card img {
  width: 100%;
  height: 160px;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: -10px;
}

.restaurant-card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #222;
}

.restaurant-card p {
  color: #666;
  font-size: 0.95rem;
  margin: 4px 0;
}

.restaurant-card button {
  margin-top: 10px;
  background: #ff5722;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 8px 18px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.restaurant-card button:hover {
  transform: scale(1.1);
  background: #e64a19;
}

.no-data {
  text-align: center;
  color: #777;
  font-style: italic;
  margin-top: 40px;
}
 
.approve[mat-raised-button] {
  margin-left: 671px;
  gap: 6px;
  font-weight: 500;
  margin-top: -15px;
  background-color: #ff5722;
  color: white;
  margin-top: -155px;
}


@media (max-width: 900px) {
  .admin-restaurants-page {
    margin-left: 0;
    padding: 20px;
  }
  .restaurant-card {
    width: 100%;
  }
}
