.dialog-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30px 40px;
}

.form-group label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.form-group input {
  width: 95%;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border 0.2s;
  margin-left: -8px;
}

.form-group input:focus {
  border-color: #f36d37;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.btn-cancel {
  background: transparent;
  border: 1px solid #f36d37;
  color: #f36d37;
  padding: 9px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  margin-right: 5px;
}


.btn-cancel:hover {
  background: #f36d37;
  color: #fff;
}


.btn-save {
  background: #f36d37;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 18px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-save:hover {
  background: #e2521f;
}

.error {
  color: #e74c3c;
  font-size: 13px;
  margin-top: 4px;
}