USE [master]
GO
/****** Object:  Database [Food Delivery Platform]    Script Date: 1/21/2026 3:33:35 PM ******/
CREATE DATABASE [Food Delivery Platform]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Food_delivery_platform', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Food_delivery_platform.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Food_delivery_platform_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Food_delivery_platform_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Food Delivery Platform].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Food Delivery Platform]
GO
/****** Object:  UserDefinedTableType [dbo].[OrderItemType]    Script Date: 1/21/2026 3:33:36 PM ******/
CREATE TYPE [dbo].[OrderItemType] AS TABLE(
	[OrderID] [bigint] NULL,
	[MenuItemID] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](10, 2) NULL
)
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[MenuItemID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[ModifiedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](100) NOT NULL,
	[CategoryImageUrl] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerAddresses]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerAddresses](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[AddressLine1] [nvarchar](255) NOT NULL,
	[AddressLine2] [nvarchar](255) NULL,
	[City] [varchar](100) NULL,
	[State] [varchar](100) NULL,
	[Pincode] [varchar](20) NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[IsDefault] [bit] NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailOtps]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailOtps](
	[OtpId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[OtpCode] [varchar](10) NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[VerifiedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OtpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[MenuItemID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Category] [varchar](50) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[IsAvailable] [bit] NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CategoryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderID] [bigint] NOT NULL,
	[MenuItemID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[TotalPrice]  AS ([Quantity]*[UnitPrice]) PERSISTED,
	[CreatedBy] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[RiderID] [int] NULL,
	[AddressID] [int] NOT NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
	[PaymentStatus] [varchar](30) NULL,
	[OrderStatus] [varchar](50) NULL,
	[DeliveryInstructions] [nvarchar](500) NULL,
	[EstimatedDeliveryTime] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderID] [bigint] NOT NULL,
	[PaymentMethod] [varchar](50) NULL,
	[TransactionID] [varchar](100) NULL,
	[Provider] [varchar](100) NULL,
	[Amount] [decimal](12, 2) NULL,
	[Status] [varchar](30) NULL,
	[PaymentDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CustomerID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurants]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurants](
	[RestaurantID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Address] [nvarchar](255) NULL,
	[City] [varchar](100) NULL,
	[State] [varchar](100) NULL,
	[Pincode] [varchar](20) NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[OpeningTime] [time](7) NULL,
	[ClosingTime] [time](7) NULL,
	[Rating] [decimal](3, 2) NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[IsOpen] [bit] NULL,
	[ImageUrl] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RestaurantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderID] [bigint] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[Rating] [int] NULL,
	[Comments] [nvarchar](1000) NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RiderLocations]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RiderLocations](
	[RiderLocationID] [bigint] IDENTITY(1,1) NOT NULL,
	[RiderID] [int] NOT NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[LastUpdatedAt] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RiderLocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone] [varchar](20) NULL,
	[RoleID] [int] NOT NULL,
	[RegisteredDate] [datetime] NULL,
	[Status] [varchar](20) NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[IsOnline] [bit] NULL,
	[ProfileImagePath] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmailOtps_Email]    Script Date: 1/21/2026 3:33:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmailOtps_Email] ON [dbo].[EmailOtps]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CustomerAddresses] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[CustomerAddresses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CustomerAddresses] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EmailOtps] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[EmailOtps] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MenuItems] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[MenuItems] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MenuItems] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Placed') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Restaurants] ADD  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[Restaurants] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Restaurants] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Restaurants] ADD  DEFAULT ((1)) FOR [IsOpen]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RiderLocations] ADD  DEFAULT (getdate()) FOR [LastUpdatedAt]
GO
ALTER TABLE [dbo].[RiderLocations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RiderLocations] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [RegisteredDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Customers]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_MenuItems] FOREIGN KEY([MenuItemID])
REFERENCES [dbo].[MenuItems] ([MenuItemID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_MenuItems]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Restaurants] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Restaurants]
GO
ALTER TABLE [dbo].[CustomerAddresses]  WITH CHECK ADD  CONSTRAINT [FK_CustomerAddresses_Users] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CustomerAddresses] CHECK CONSTRAINT [FK_CustomerAddresses_Users]
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD  CONSTRAINT [FK_MenuItems_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[MenuItems] CHECK CONSTRAINT [FK_MenuItems_Categories]
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD  CONSTRAINT [FK_MenuItems_Restaurants] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[MenuItems] CHECK CONSTRAINT [FK_MenuItems_Restaurants]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_MenuItems] FOREIGN KEY([MenuItemID])
REFERENCES [dbo].[MenuItems] ([MenuItemID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_MenuItems]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Addresses] FOREIGN KEY([AddressID])
REFERENCES [dbo].[CustomerAddresses] ([AddressID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Addresses]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Restaurants] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Restaurants]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Riders] FOREIGN KEY([RiderID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Riders]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Customers]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Orders]
GO
ALTER TABLE [dbo].[Restaurants]  WITH CHECK ADD  CONSTRAINT [FK_Restaurants_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Restaurants] CHECK CONSTRAINT [FK_Restaurants_Users]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Customers]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Orders]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Restaurants] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Restaurants]
GO
ALTER TABLE [dbo].[RiderLocations]  WITH CHECK ADD  CONSTRAINT [FK_RiderLocations_Riders] FOREIGN KEY([RiderID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[RiderLocations] CHECK CONSTRAINT [FK_RiderLocations_Riders]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
/****** Object:  StoredProcedure [dbo].[AddCustomerAddress]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddCustomerAddress]
    @CustomerID INT,
    @AddressLine1 NVARCHAR(255),
    @AddressLine2 NVARCHAR(255),
    @City VARCHAR(100),
    @State VARCHAR(100),
    @Pincode VARCHAR(20),
    @Latitude DECIMAL(9,6) = NULL,
    @Longitude DECIMAL(9,6) = NULL,
    @CreatedBy VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO CustomerAddresses (
        CustomerID, AddressLine1, AddressLine2, City,State, Pincode,
        Latitude,Longitude,CreatedBy,CreatedAt,IsDefault,IsActive)
    VALUES (
        @CustomerID,@AddressLine1,@AddressLine2, @City,@State,
        @Pincode,@Latitude,@Longitude,@CreatedBy,GETDATE(), 0,1);
    SELECT SCOPE_IDENTITY() AS NewAddressID;
END;
GO
/****** Object:  StoredProcedure [dbo].[AddMenuItem]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddMenuItem]
    @RestaurantID INT,
    @Name NVARCHAR(100),
    @Description NVARCHAR(500) = NULL,
    @Category NVARCHAR(50) = NULL,
    @Price DECIMAL(10,2),
    @ImageUrl NVARCHAR(255) = NULL,
    @IsAvailable BIT = 1,
    @CreatedBy NVARCHAR(50),
    @IsActive BIT = 1
AS
BEGIN
    BEGIN TRY
        INSERT INTO MenuItems (
            RestaurantID, Name, Description, Category, Price, ImageUrl,
            IsAvailable, CreatedBy, CreatedAt, IsActive
        )
        VALUES (
            @RestaurantID, @Name, @Description, @Category, @Price, @ImageUrl,
            @IsAvailable, @CreatedBy, GETDATE(), @IsActive
        );

        SELECT 
            SCOPE_IDENTITY() AS MenuItemID,
            'Menu item added successfully' AS Message;
    END TRY
    BEGIN CATCH
        SELECT 
            ERROR_MESSAGE() AS ErrorMessage;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[AddOrUpdateCart]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddOrUpdateCart]
  @UserID INT,
  @RestaurantID INT,
  @MenuItemID INT,
  @Quantity INT
AS
BEGIN
  SET NOCOUNT ON;

  DECLARE @OrderID INT;

  -- ✅ Check for existing "pending" order for the same restaurant
  SELECT @OrderID = OrderID 
  FROM Orders 
  WHERE CustomerID = @UserID AND RestaurantID = @RestaurantID AND OrderStatus = 'Pending';

  -- ✅ If no pending order, create a new one
  IF @OrderID IS NULL
  BEGIN
    INSERT INTO Orders (CustomerID, RestaurantID, EstimatedDeliveryTime, OrderStatus, TotalAmount)
    VALUES (@UserID, @RestaurantID, GETDATE(), 'Pending', 0);

    SET @OrderID = SCOPE_IDENTITY();
  END

  -- ✅ Check if the menu item already exists in the order
  IF EXISTS (SELECT 1 FROM OrderItems WHERE OrderID = @OrderID AND MenuItemID = @MenuItemID)
  BEGIN
    UPDATE OrderItems
    SET Quantity = Quantity + @Quantity
    WHERE OrderID = @OrderID AND MenuItemID = @MenuItemID;
  END
  ELSE
  BEGIN
    INSERT INTO OrderItems (OrderID, MenuItemID, Quantity)
    VALUES (@OrderID, @MenuItemID, @Quantity);
  END

  -- ✅ Recalculate total amount
  UPDATE Orders
  SET TotalAmount = (
    SELECT SUM(oi.Quantity * m.Price)
    FROM OrderItems oi
    JOIN MenuItems m ON oi.MenuItemID = m.MenuItemID
    WHERE oi.OrderID = @OrderID
  )
  WHERE OrderID = @OrderID;

  SELECT * FROM Orders WHERE OrderID = @OrderID;
END
GO
/****** Object:  StoredProcedure [dbo].[AddOrUpdateCartItem]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AddOrUpdateCartItem]
    @CustomerID INT,
    @RestaurantID INT,
    @MenuItemID INT,
    @Quantity INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM Cart 
        WHERE CustomerID = @CustomerID 
          AND RestaurantID = @RestaurantID 
          AND MenuItemID = @MenuItemID
    )
    BEGIN
        UPDATE Cart
        SET Quantity = Quantity + @Quantity,
            ModifiedAt = GETDATE()
        WHERE CustomerID = @CustomerID 
          AND RestaurantID = @RestaurantID 
          AND MenuItemID = @MenuItemID;
    END
    ELSE
    BEGIN
        INSERT INTO Cart (CustomerID, RestaurantID, MenuItemID, Quantity)
        VALUES (@CustomerID, @RestaurantID, @MenuItemID, @Quantity);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[AddRestaurant]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AddRestaurant]
  @UserID INT,
  @Name VARCHAR(100),
  @Description NVARCHAR(500),
  @Address NVARCHAR(255),
  @City VARCHAR(100),
  @State VARCHAR(100),
  @Pincode VARCHAR(20),
  @Latitude DECIMAL(9,6) = NULL,
  @Longitude DECIMAL(9,6) = NULL,
  @OpeningTime TIME,
  @ClosingTime TIME,
  @ImageUrl NVARCHAR(500),
  @CreatedBy VARCHAR(50)
AS
BEGIN
  SET NOCOUNT ON;

  INSERT INTO Restaurants (
    UserID, Name, Description, Address, City, State, Pincode,
    Latitude, Longitude, OpeningTime, ClosingTime, ImageUrl,
    CreatedBy, CreatedAt, IsActive, IsOpen
  )
  VALUES (
    @UserID, @Name, @Description, @Address, @City, @State, @Pincode,
    @Latitude, @Longitude, @OpeningTime, @ClosingTime, @ImageUrl,
    @CreatedBy, GETDATE(), 1, 1
  );

  SELECT SCOPE_IDENTITY() AS NewRestaurantID;
END;
GO
/****** Object:  StoredProcedure [dbo].[ApproveRestaurant]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ApproveRestaurant]
    @UserID INT,
    @ModifiedBy VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Users
    SET 
        Status = 'Active',IsActive = 1,ModifiedBy = @ModifiedBy,ModifiedAt = GETDATE()
    WHERE UserID = @UserID AND RoleID = 3;
    IF @@ROWCOUNT > 0
        SELECT 1 AS Success, 'User approved successfully.' AS Message;
    ELSE
        SELECT 0 AS Success, 'User approval failed or User not found.' AS Message;
END;
GO
/****** Object:  StoredProcedure [dbo].[ApproveRider]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ApproveRider]
    @RiderID INT,
    @ModifiedBy VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET 
        Status = 'Active',
        IsActive = 1,
        ModifiedBy = @ModifiedBy,
        ModifiedAt = GETDATE()
    WHERE UserID = @RiderID AND RoleID = 2;

    IF @@ROWCOUNT > 0
        SELECT 1 AS Success, 'Rider approved successfully.' AS Message;
    ELSE
        SELECT 0 AS Success, 'Rider approval failed or rider not found.' AS Message;
END;
GO
/****** Object:  StoredProcedure [dbo].[AssignRiderToOrder]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AssignRiderToOrder]
    @OrderID BIGINT,
    @RiderID INT,
    @ModifiedBy VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Orders
    SET 
        RiderID = @RiderID,
        ModifiedBy = @ModifiedBy,
        ModifiedAt = GETDATE()
    WHERE OrderID = @OrderID;

    SELECT @@ROWCOUNT AS RowsAffected;
END;
GO
/****** Object:  StoredProcedure [dbo].[AuthenticateUser]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AuthenticateUser]
    @Email NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        U.UserID,U.FirstName,U.LastName,U.Email,U.Password,U.Phone,U.IsActive,
        R.RoleName
    FROM Users U
    INNER JOIN Roles R ON U.RoleID = R.RoleID
    WHERE U.Email = @Email;
END
GO
/****** Object:  StoredProcedure [dbo].[ChangeUserPassword]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ChangeUserPassword]
    @UserID INT,
    @OldPassword NVARCHAR(100),
    @NewPassword NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ExistingPassword NVARCHAR(100);

    SELECT @ExistingPassword = Password FROM Users WHERE UserID = @UserID;

    IF @ExistingPassword IS NULL
    BEGIN
        RAISERROR('User not found.', 16, 1);
        RETURN;
    END

    IF @ExistingPassword <> @OldPassword
    BEGIN
        RAISERROR('Old password is incorrect.', 16, 1);
        RETURN;
    END

    UPDATE Users
    SET Password = @NewPassword, ModifiedAt = GETDATE()
    WHERE UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[ClearCartByCustomer]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[ClearCartByCustomer]
    @CustomerID INT
AS
BEGIN
    DELETE FROM Cart WHERE CustomerID = @CustomerID;
END;
GO
/****** Object:  StoredProcedure [dbo].[ConfirmOrder]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ConfirmOrder]
  @OrderID INT,
  @PaymentMethod NVARCHAR(50),
  @AddressID INT,
  @TotalPaid DECIMAL(10,2)
AS
BEGIN
  SET NOCOUNT ON;

  UPDATE Orders
  SET OrderStatus = 'Confirmed',
      EstimatedDeliveryTime = GETDATE()
  WHERE OrderID = @OrderID;

  INSERT INTO Payments (OrderID, Amount, PaymentDate, PaymentMethod, Status)
  VALUES (@OrderID, @TotalPaid, GETDATE(), @PaymentMethod, 'Paid');

  SELECT * FROM Orders WHERE OrderID = @OrderID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetActiveOrdersCount]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetActiveOrdersCount]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*) AS ActiveOrdersCount
    FROM Orders
    WHERE OrderStatus NOT IN ('Delivered', 'Cancelled')
      AND IsActive = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAdminDashboardStats]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAdminDashboardStats]
AS
BEGIN
    SET NOCOUNT ON;

    -- Total orders
    DECLARE @TotalOrders INT = (SELECT COUNT(1) FROM Orders WHERE IsActive = 1);

    -- Today's orders
    DECLARE @TodaysOrders INT = (
        SELECT COUNT(1) FROM Orders
        WHERE CAST(CreatedAt AS DATE) = CAST(GETDATE() AS DATE) AND IsActive = 1
    );

    -- Total earnings (completed payments)
    DECLARE @TotalEarnings DECIMAL(18,2) = (
        SELECT ISNULL(SUM(Amount),0) FROM Payments
        WHERE Status = 'Success' AND IsActive = 1
    );

    -- Today's earnings
    DECLARE @TodaysEarnings DECIMAL(18,2) = (
        SELECT ISNULL(SUM(Amount),0) FROM Payments
        WHERE Status = 'Success' AND CAST(PaymentDate AS DATE) = CAST(GETDATE() AS DATE) AND IsActive = 1
    );

    /*
      Profit calculation:
        TotalProfit = SUM(Orders.TotalAmount for completed orders/payments) - SUM(OrderItems.TotalPrice for those orders)
      We'll consider Orders that have a completed payment record (Payments.Status='Completed')
    */

    DECLARE @TotalOrderAmount DECIMAL(18,2) = (
        SELECT ISNULL(SUM(o.TotalAmount),0)
        FROM Orders o
        JOIN Payments p ON p.OrderID = o.OrderID
        WHERE p.Status = 'Success' AND p.IsActive = 1 AND o.IsActive = 1
    );

    DECLARE @TotalItemsAmount DECIMAL(18,2) = (
        SELECT ISNULL(SUM(oi.TotalPrice),0)
        FROM OrderItems oi
        JOIN Orders o ON o.OrderID = oi.OrderID
        JOIN Payments p ON p.OrderID = o.OrderID
        WHERE p.Status = 'Success' AND p.IsActive = 1 AND oi.IsActive = 1 AND o.IsActive = 1
    );

    DECLARE @TotalProfit DECIMAL(18,2) = ISNULL(@TotalOrderAmount,0) - ISNULL(@TotalItemsAmount,0);

    -- Today's profit (completed payments made today)
    DECLARE @TodaysOrderAmount DECIMAL(18,2) = (
        SELECT ISNULL(SUM(o.TotalAmount),0)
        FROM Orders o
        JOIN Payments p ON p.OrderID = o.OrderID
        WHERE p.Status = 'Success' AND CAST(p.PaymentDate AS DATE) = CAST(GETDATE() AS DATE)
          AND p.IsActive = 1 AND o.IsActive = 1
    );

    DECLARE @TodaysItemsAmount DECIMAL(18,2) = (
        SELECT ISNULL(SUM(oi.TotalPrice),0)
        FROM OrderItems oi
        JOIN Orders o ON o.OrderID = oi.OrderID
        JOIN Payments p ON p.OrderID = o.OrderID
        WHERE p.Status = 'Success' AND CAST(p.PaymentDate AS DATE) = CAST(GETDATE() AS DATE)
          AND p.IsActive = 1 AND oi.IsActive = 1 AND o.IsActive = 1
    );

    DECLARE @TodaysProfit DECIMAL(18,2) = ISNULL(@TodaysOrderAmount,0) - ISNULL(@TodaysItemsAmount,0);

    -- Counts
    DECLARE @TotalCustomers INT = (SELECT COUNT(1) FROM Users WHERE IsActive = 1 AND RoleID = 1);
    DECLARE @TotalRiders INT = (SELECT COUNT(1) FROM Users WHERE IsActive = 1 AND RoleID = 2);
    DECLARE @TotalRestaurants INT = (SELECT COUNT(1) FROM Restaurants WHERE IsActive = 1);

    SELECT
        @TotalOrders AS TotalOrders,
        @TodaysOrders AS TodaysOrders,
        @TotalEarnings AS TotalEarnings,
        @TodaysEarnings AS TodaysEarnings,
        @TotalProfit AS TotalProfit,
        @TodaysProfit AS TodaysProfit,
        @TotalCustomers AS TotalCustomers,
        @TotalRiders AS TotalRiders,
        @TotalRestaurants AS TotalRestaurants;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAdminRecentOrders]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAdminRecentOrders]
    @TopN INT = 5
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@TopN)
        o.OrderID,
        o.CustomerID,
        cus.FirstName + ' ' + cus.LastName AS CustomerName,
        o.RestaurantID,
        r.Name AS RestaurantName,
        o.TotalAmount,
        o.PaymentStatus,
        o.OrderStatus,
        o.EstimatedDeliveryTime,
        o.CreatedAt
    FROM Orders o
    LEFT JOIN Users cus ON cus.UserID = o.CustomerID
    LEFT JOIN Restaurants r ON r.RestaurantID = o.RestaurantID
    WHERE o.IsActive = 1
    ORDER BY o.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllActiveRestaurants]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllActiveRestaurants]
AS
BEGIN
    SELECT 
        RestaurantID, Name, Description, Address,ImageUrl, City, State, Pincode, Latitude,
        Longitude, OpeningTime, ClosingTime, Rating, IsActive, IsOpen
    FROM Restaurants
    WHERE IsActive = 1
    AND IsOpen = 1
    ORDER BY Rating DESC, Name;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllMenuItems]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllMenuItems]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        m.MenuItemID,
        m.Name AS MenuItemName,
        m.Description,
        m.Price,
        m.ImageUrl AS MenuImage,
        r.RestaurantID,
        r.Name AS RestaurantName,
        r.City,
        r.State,
        r.ImageUrl AS RestaurantImage,
        r.Rating
    FROM MenuItems m
    INNER JOIN Restaurants r ON m.RestaurantID = r.RestaurantID
    WHERE m.IsActive = 1 
      AND m.IsAvailable = 1 
      AND r.IsActive = 1 
    ORDER BY r.Name, m.Name;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllOrdersWithDetails]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllOrdersWithDetails]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        o.OrderID,
        o.CustomerID,
        c.FirstName + ' ' + c.LastName AS CustomerName,
        o.RestaurantID,
        r.Name AS RestaurantName,
        o.RiderID,
        rd.FirstName + ' ' + rd.LastName AS RiderName,
        o.TotalAmount,
        o.PaymentStatus,
        o.OrderStatus,
        o.DeliveryInstructions,
        o.EstimatedDeliveryTime,
        o.CreatedAt,
        (
            SELECT 
                mi.Name AS ItemName,
                oi.Quantity,
                oi.UnitPrice,
                (oi.Quantity * oi.UnitPrice) AS TotalPrice,
                mi.ImageUrl
            FROM OrderItems oi
            INNER JOIN MenuItems mi ON oi.MenuItemID = mi.MenuItemID
            WHERE oi.OrderID = o.OrderID
            FOR JSON PATH
        ) AS OrderItems
    FROM Orders o
    INNER JOIN Users c ON o.CustomerID = c.UserID
    INNER JOIN Restaurants r ON o.RestaurantID = r.RestaurantID
    LEFT JOIN Users rd ON o.RiderID = rd.UserID
    ORDER BY o.CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllRiders]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllRiders]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UserID AS RiderID,
        FirstName + ' ' + LastName AS RiderName
    FROM Users
    WHERE RoleID = 2 
      AND IsOnline = 1 
      AND Status = 'Active'
    ORDER BY RiderName;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetCartByUser]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetCartByUser]
  @UserID INT
AS
BEGIN
  SET NOCOUNT ON;

  SELECT 
    o.OrderID,
    o.RestaurantID,
    r.Name,
    r.Address AS RestaurantAddress,
    o.TotalAmount,
    o.OrderStatus,
    m.MenuItemID,
    m.Name AS MenuItemName,
    m.Price,
    m.ImageUrl,
    oi.Quantity
  FROM Orders o
  JOIN OrderItems oi ON o.OrderID = oi.OrderID
  JOIN MenuItems m ON oi.MenuItemID = m.MenuItemID
  JOIN Restaurants r ON o.RestaurantID = r.RestaurantID
  WHERE o.CustomerID = @UserID AND o.OrderStatus = 'Pending';
END
GO
/****** Object:  StoredProcedure [dbo].[GetCartItemCount]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCartItemCount]
    @CustomerID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ISNULL(SUM(Quantity), 0) AS TotalQuantity
    FROM Cart
    WHERE CustomerID = @CustomerID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetCartItemsByCustomer]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[GetCartItemsByCustomer]
    @CustomerID INT
AS
BEGIN
    SELECT 
        c.CartID,
        c.CustomerID,
        c.RestaurantID,
        c.MenuItemID,
        m.Name AS ItemName,
        m.Price AS UnitPrice,
        m.ImageUrl,
        c.Quantity,
        (m.Price * c.Quantity) AS TotalPrice,
        r.Name AS RestaurantName
    FROM Cart c
    INNER JOIN MenuItems m ON c.MenuItemID = m.MenuItemID
    INNER JOIN Restaurants r ON c.RestaurantID = r.RestaurantID
    WHERE c.CustomerID = @CustomerID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetCategories]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCategories]
AS
BEGIN
    SELECT DISTINCT 
        c.CategoryName,
        c.CategoryImageUrl
    FROM MenuItems m
    INNER JOIN Categories c 
        ON m.Category = c.CategoryName
    WHERE m.IsActive = 1 
          AND m.IsAvailable = 1 
          AND m.Category IS NOT NULL
          AND c.IsActive = 1
    ORDER BY c.CategoryName;
END
GO
/****** Object:  StoredProcedure [dbo].[GetCustomerAddresses]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCustomerAddresses]
    @CustomerID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        AddressID,CustomerID, AddressLine1,AddressLine2, City,State,Pincode,
        Latitude,Longitude,IsDefault,CreatedAt,IsActive
    FROM CustomerAddresses
    WHERE CustomerID = @CustomerID AND IsActive = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetDistinctCategories]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDistinctCategories]
AS
BEGIN
    SELECT DISTINCT 
        Category AS CategoryName
    FROM MenuItems
    WHERE IsActive = 1 
          AND IsAvailable = 1 
          AND Category IS NOT NULL
    ORDER BY Category;
END
GO
/****** Object:  StoredProcedure [dbo].[GetLiveOrderCountForRider]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE   PROCEDURE [dbo].[GetLiveOrderCountForRider]
  @RiderID INT
AS
BEGIN
  SET NOCOUNT ON;

  SELECT 
      COUNT(*) AS LiveOrderCount
  FROM Orders
  WHERE 
      RiderID = @RiderID
      AND OrderStatus NOT IN ('Delivered', 'Cancelled');
END;
GO
/****** Object:  StoredProcedure [dbo].[GetLiveOrdersForRestaurant]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetLiveOrdersForRestaurant]
  @RestaurantID INT
AS
BEGIN
  SET NOCOUNT ON;

  SELECT
      o.OrderID,
      o.OrderStatus,
      o.TotalAmount,
      o.CreatedAt AS OrderTime,

      -- Customer Details
      c.FirstName + ' ' + c.LastName AS CustomerName,
      c.Phone AS CustomerPhone,
      ca.AddressLine1 + ', ' + ISNULL(ca.AddressLine2 + ', ', '') +
      ca.City + ', ' + ca.State + ' - ' + ca.Pincode AS CustomerAddress,

      -- Rider Details (if assigned)
      r.FirstName + ' ' + r.LastName AS RiderName,
      r.Phone AS RiderPhone,

      -- Menu Items (joined in subquery)
      mi.MenuItemID,
      mi.Name AS ItemName,
      mi.ImageUrl AS ItemImage,
      oi.Quantity,
      oi.UnitPrice,
      oi.TotalPrice

  FROM Orders o
  INNER JOIN Users c ON o.CustomerID = c.UserID
  INNER JOIN CustomerAddresses ca ON o.AddressID = ca.AddressID
  LEFT JOIN Users r ON o.RiderID = r.UserID
  INNER JOIN OrderItems oi ON o.OrderID = oi.OrderID
  INNER JOIN MenuItems mi ON oi.MenuItemID = mi.MenuItemID

  WHERE 
      o.RestaurantID = @RestaurantID
      AND o.OrderStatus IN ('Accepted', 'Preparing', 'Ready')
      AND o.IsActive = 1
  ORDER BY o.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetLiveOrdersForRider]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetLiveOrdersForRider]
  @RiderID INT
AS
BEGIN
  SET NOCOUNT ON;

  SELECT 
      O.OrderID,
      O.TotalAmount,
      O.OrderStatus,
      O.CreatedAt,
      
      -- Restaurant Info
      R.RestaurantID,
      R.Name AS RestaurantName,
     (R.Address + ',' + R.City + ',' + R.State + ', Pincode:' + R.Pincode )AS RestaurantAddress,
      R.ImageUrl AS RestaurantImage,
      RU.Phone AS RestaurantPhone,

      -- Customer Info
      C.UserID AS CustomerID,
      (C.FirstName + ' ' + C.LastName) AS CustomerName,
      (CA.AddressLine1 + ',' + CA.City + ',' + CA.State + ', Pincode:' + CA.Pincode) AS CustomerAddress,
      C.Phone AS CustomerPhone

  FROM Orders O
  INNER JOIN Restaurants R ON O.RestaurantID = R.RestaurantID
  INNER JOIN Users RU ON R.UserID = RU.UserID
  INNER JOIN Users C ON O.CustomerID = C.UserID
  INNER JOIN CustomerAddresses CA ON O.AddressID = CA.AddressID
  WHERE 
      O.RiderID = @RiderID
      AND O.OrderStatus NOT IN ('Delivered', 'Cancelled')
  ORDER BY O.CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetMenuItemById]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMenuItemById]
  @MenuItemID INT
AS
BEGIN
  SET NOCOUNT ON;

  SELECT 
    MenuItemID,
    RestaurantID,
    Name,
    Description,
    Category,
    Price,
    ImageUrl,
    IsAvailable,
    IsActive,
    CreatedBy,
    CreatedAt,
    ModifiedBy,
    ModifiedAt
  FROM MenuItems
  WHERE MenuItemID = @MenuItemID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetMenuItemsByRestaurant]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMenuItemsByRestaurant]
    @RestaurantID INT,
    @Role NVARCHAR(50)
AS
BEGIN
    SELECT 
        MenuItemID, RestaurantID, Name, Description, Category, Price, ImageUrl,
        IsAvailable, IsActive
    FROM MenuItems
    WHERE RestaurantID = @RestaurantID
          AND IsActive = 1
          AND (
              @Role = 'Restaurant'       -- show all
              OR IsAvailable = 1         -- restrict for others
          )
    ORDER BY Category, Name;
END
GO
/****** Object:  StoredProcedure [dbo].[GetOrdersByCustomerID]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetOrdersByCustomerID]
    @CustomerID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        o.OrderID,
        o.RestaurantID,
        r.Name AS RestaurantName,
        o.TotalAmount,
        o.PaymentStatus,
        o.OrderStatus,
        o.DeliveryInstructions,
        o.EstimatedDeliveryTime,
        o.CreatedAt AS OrderDate,

        -- Rider Info (if assigned)
        u.UserID AS RiderID,
        CONCAT(u.FirstName, ' ', u.LastName) AS RiderName,
        u.Phone AS RiderPhone,

        -- Order Item details
        oi.OrderItemID,
        oi.MenuItemID,
        m.Name AS MenuItemName,
        m.ImageUrl,
        oi.Quantity,
        oi.UnitPrice,
        oi.TotalPrice
    FROM Orders o
    INNER JOIN OrderItems oi ON o.OrderID = oi.OrderID
    INNER JOIN MenuItems m ON oi.MenuItemID = m.MenuItemID
    INNER JOIN Restaurants r ON o.RestaurantID = r.RestaurantID
    LEFT JOIN Users u ON o.RiderID = u.UserID   -- Rider is optional
    WHERE o.CustomerID = @CustomerID
    ORDER BY o.CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetPendingRestaurants]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPendingRestaurants]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        UserID AS UserID,
        FirstName + ' ' + LastName AS Name,
        Email,Phone, Status,RegisteredDate,IsActive
    FROM Users
    WHERE RoleID = 3 AND Status = 'Pending';
END;
GO
/****** Object:  StoredProcedure [dbo].[GetPendingRiders]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPendingRiders]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UserID AS RiderID,
        FirstName + ' ' + LastName AS RiderName,
        Email,Phone, Status,RegisteredDate,IsActive
    FROM Users
    WHERE RoleID = 2 AND Status = 'Pending';
END;
GO
/****** Object:  StoredProcedure [dbo].[GetRestaurantActiveOrdersCount]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRestaurantActiveOrdersCount]
    @RestaurantID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*) AS ActiveOrdersCount
    FROM Orders
    WHERE RestaurantID = @RestaurantID
      AND OrderStatus IN ('Accepted', 'Preparing', 'Ready')
      AND IsActive = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetRestaurantByUser]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetRestaurantByUser]
  @UserID INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT TOP 1
    RestaurantID,UserID,Name,Description,Address,City,State,
    Pincode,Latitude,Longitude, OpeningTime,ClosingTime,Rating,
    ImageUrl,IsOpen,CreatedAt,ModifiedAt
  FROM Restaurants
  WHERE UserID = @UserID AND IsActive = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetRestaurantDashboard]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetRestaurantDashboard]
    @RestaurantID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TodayStart DATETIME = CAST(GETDATE() AS DATE);
    DECLARE @WeekStart DATETIME = DATEADD(DAY, -DATEPART(WEEKDAY, GETDATE()) + 1, CAST(GETDATE() AS DATE));
    DECLARE @MonthStart DATETIME = DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1);

    SELECT 
        U.FirstName + ' ' + U.LastName AS UserName,
        R.IsOpen,
        
        -- Orders
        (SELECT COUNT(*) FROM Orders O WHERE O.RestaurantID = @RestaurantID AND CAST(O.CreatedAt AS DATE) = CAST(GETDATE() AS DATE)) AS TodaysOrders,
        (SELECT COUNT(*) FROM Orders O WHERE O.RestaurantID = @RestaurantID) AS TotalOrders,
        
        -- Earnings
        (SELECT ISNULL(SUM(OI.TotalPrice), 0) 
         FROM OrderItems OI
         INNER JOIN Orders O ON O.OrderID = OI.OrderID
         WHERE O.RestaurantID = @RestaurantID 
         AND CAST(O.CreatedAt AS DATE) = CAST(GETDATE() AS DATE)) AS TodaysEarnings,

        (SELECT ISNULL(SUM(OI.TotalPrice), 0) 
         FROM OrderItems OI
         INNER JOIN Orders O ON O.OrderID = OI.OrderID
         WHERE O.RestaurantID = @RestaurantID 
         AND O.CreatedAt >= @WeekStart) AS WeeklyEarnings,

        (SELECT ISNULL(SUM(OI.TotalPrice), 0) 
         FROM OrderItems OI
         INNER JOIN Orders O ON O.OrderID = OI.OrderID
         WHERE O.RestaurantID = @RestaurantID 
         AND O.CreatedAt >= @MonthStart) AS MonthlyEarnings,

        (SELECT ISNULL(SUM(OI.TotalPrice), 0)
         FROM OrderItems OI
         INNER JOIN Orders O ON O.OrderID = OI.OrderID
         WHERE O.RestaurantID = @RestaurantID) AS TotalEarnings

    FROM Restaurants R
    INNER JOIN Users U ON R.UserID = U.UserID
    WHERE R.RestaurantID = @RestaurantID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetRestaurantOrderHistory]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetRestaurantOrderHistory]
  @RestaurantID INT
AS
BEGIN
  SELECT
      o.OrderID,
      o.OrderStatus,
      o.CreatedAt AS OrderTime,

      -- Customer Details
      c.FirstName + ' ' + c.LastName AS CustomerName,
      c.Phone AS CustomerPhone,
      ca.AddressLine1 + ', ' + ISNULL(ca.AddressLine2 + ', ', '') +
      ca.City + ', ' + ca.State + ' - ' + ca.Pincode AS CustomerAddress,

      -- Rider Details (if assigned)
      r.FirstName + ' ' + r.LastName AS RiderName,
      r.Phone AS RiderPhone,

      -- Menu Items
      mi.MenuItemID,
      mi.Name AS ItemName,
      mi.ImageUrl AS ItemImage,
      oi.Quantity,
      oi.UnitPrice,
      oi.TotalPrice,

      -- Aggregated total (from items)
      SUM(oi.TotalPrice) OVER (PARTITION BY o.OrderID) AS TotalAmount

  FROM Orders o
  INNER JOIN Users c ON o.CustomerID = c.UserID
  INNER JOIN CustomerAddresses ca ON o.AddressID = ca.AddressID
  LEFT JOIN Users r ON o.RiderID = r.UserID
  INNER JOIN OrderItems oi ON o.OrderID = oi.OrderID
  INNER JOIN MenuItems mi ON oi.MenuItemID = mi.MenuItemID

  WHERE 
      o.RestaurantID = @RestaurantID
      AND o.OrderStatus NOT IN ('Accepted', 'Preparing', 'Ready')
      AND o.IsActive = 1

  ORDER BY o.OrderID DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetRestaurantsByCategory]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRestaurantsByCategory]
    @Category VARCHAR(50)
AS
BEGIN
    SELECT 
        m.MenuItemID,
        m.Name ,
        m.Description AS MenuDescription,
        m.Category,
        m.Price,
        m.ImageUrl ,
        m.IsAvailable,
        r.RestaurantID,
        r.Name AS RestaurantName,
        r.City,
        r.State,
        r.Rating
    FROM MenuItems m
    INNER JOIN Restaurants r ON m.RestaurantID = r.RestaurantID
    WHERE m.Category = @Category
      AND m.IsActive = 1
      AND m.IsAvailable = 1
      AND r.IsActive = 1
    ORDER BY r.Rating DESC, m.Name;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetRiderDashboard]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRiderDashboard]
    @RiderID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TodayStart DATETIME = CAST(CONVERT(date, GETDATE()) AS DATETIME);
    DECLARE @Tomorrow DATETIME = DATEADD(day, 1, @TodayStart);
    DECLARE @MonthStart DATETIME = DATEADD(month, DATEDIFF(month, 0, GETDATE()), 0);

    -- Current week boundaries: Monday to next Monday
    DECLARE @WeekStart DATETIME = DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0);
    DECLARE @WeekEnd DATETIME = DATEADD(DAY, 7, @WeekStart);

    ;WITH RiderOrderSummary AS (
        SELECT 
            o.OrderID,
            o.RiderID,
            ISNULL(SUM(oi.TotalPrice), 0) AS OrderCost,
            ISNULL(MAX(p.Amount), 0) AS PaymentAmount,
            ISNULL(MAX(p.PaymentMethod), '') AS PaymentMethod,
            ISNULL(MAX(p.Status), '') AS PaymentStatus,
            ISNULL(MAX(p.PaymentDate), o.CreatedAt) AS PaymentDate,
            o.CreatedAt
        FROM Orders o
        LEFT JOIN Payments p ON o.OrderID = p.OrderID
        LEFT JOIN OrderItems oi ON o.OrderID = oi.OrderID
        WHERE o.RiderID = @RiderID AND o.IsActive = 1
        GROUP BY o.OrderID, o.RiderID, o.CreatedAt
    )
    SELECT
        -- Total & Today order counts
        ISNULL(COUNT(1), 0) AS TotalOrders,
        ISNULL(SUM(CASE WHEN CreatedAt >= @TodayStart AND CreatedAt < @Tomorrow THEN 1 ELSE 0 END), 0) AS TodayOrders,

        -- Today's earnings
        ISNULL(SUM(
            CASE 
                WHEN PaymentDate >= @TodayStart AND PaymentDate < @Tomorrow 
                     AND PaymentStatus = 'Success' 
                THEN (0.7 * (PaymentAmount - OrderCost)) 
                ELSE 0 
            END
        ), 0.00) AS TodayEarnings,

        -- Weekly earnings (Monday–Sunday)
        ISNULL(SUM(
            CASE 
                WHEN PaymentDate >= @WeekStart AND PaymentDate < @WeekEnd
                     AND PaymentStatus = 'Success'
                THEN (0.7 * (PaymentAmount - OrderCost)) 
                ELSE 0 
            END
        ), 0.00) AS WeeklyEarnings,

        -- Monthly earnings
        ISNULL(SUM(
            CASE 
                WHEN PaymentDate >= @MonthStart AND PaymentDate < @Tomorrow 
                     AND PaymentStatus = 'Success'
                THEN (0.7 * (PaymentAmount - OrderCost)) 
                ELSE 0 
            END
        ), 0.00) AS MonthlyEarnings,

        -- Floating cash (COD success, resets weekly)
        ISNULL(SUM(
            CASE 
                WHEN PaymentMethod = 'COD' 
                     AND PaymentStatus = 'Success'
                     AND PaymentDate >= @WeekStart AND PaymentDate < @WeekEnd
                THEN PaymentAmount 
                ELSE 0 
            END
        ), 0.00) AS FloatingCash
    FROM RiderOrderSummary;
END
GO
/****** Object:  StoredProcedure [dbo].[GetRiderOrderDetails]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE PROCEDURE [dbo].[GetRiderOrderDetails]
  @OrderID BIGINT,
  @RiderID INT
AS
BEGIN
  SET NOCOUNT ON;

  -- ✅ Main order, restaurant, and customer info
  SELECT 
      O.OrderID,
      O.TotalAmount,
      O.CreatedAt,
      O.OrderStatus,
      O.DeliveryInstructions,

      -- Restaurant Info
      R.RestaurantID,
      R.Name AS RestaurantName,
      (R.Address + ', ' + R.City + ', ' + R.State + ', Pincode:' + R.Pincode) AS RestaurantAddress,
      R.ImageUrl AS RestaurantImage,
      RU.Phone AS RestaurantPhone,

      -- Customer Info
      C.UserID AS CustomerID,
      (C.FirstName + ' ' + C.LastName) AS CustomerName,
      (CA.AddressLine1 + ', ' + CA.City + ', ' + CA.State + ', Pincode:' + CA.Pincode) AS CustomerAddress,
      C.Phone AS CustomerPhone,

      -- Payment Info
      P.PaymentMethod,
      P.Status AS PaymentStatus,
      P.Amount AS PaymentAmount,

      -- Rider Earning (70% of (payment amount - order item total))
      CAST(0.7 * (P.Amount - (
        SELECT ISNULL(SUM(OI.TotalPrice), 0)
        FROM OrderItems OI WHERE OI.OrderID = O.OrderID
      )) AS DECIMAL(10,2)) AS RiderEarning

  FROM Orders O
  INNER JOIN Restaurants R ON O.RestaurantID = R.RestaurantID
  INNER JOIN Users RU ON R.UserID = RU.UserID
  INNER JOIN Users C ON O.CustomerID = C.UserID
  INNER JOIN CustomerAddresses CA ON O.AddressID = CA.AddressID
  LEFT JOIN Payments P ON O.OrderID = P.OrderID
  WHERE 
      O.OrderID = @OrderID AND
      O.RiderID = @RiderID;

  -- ✅ Order items with menu info
  SELECT 
      OI.OrderItemID,
      OI.OrderID,
      OI.MenuItemID,
      M.Name AS MenuItemName,
      M.ImageUrl AS MenuItemImage,
      OI.Quantity,
      OI.UnitPrice,
      OI.TotalPrice
  FROM OrderItems OI
  INNER JOIN MenuItems M ON OI.MenuItemID = M.MenuItemID
  WHERE OI.OrderID = @OrderID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetRiderOrderHistory]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRiderOrderHistory]
  @RiderID INT
AS
BEGIN
  SET NOCOUNT ON;

  SELECT 
      O.OrderID,
      O.CreatedAt,
      O.OrderStatus,
      O.TotalAmount,
      
      R.Name AS RestaurantName,
      (R.Address + ', ' + R.City + ', ' + R.State + ', Pincode:' + R.Pincode) AS RestaurantAddress,
      R.ImageUrl AS RestaurantImage,

      -- Customer Info
      (C.FirstName + ' ' + C.LastName) AS CustomerName,
      (CA.AddressLine1 + ', ' + CA.City + ', ' + CA.State + ', Pincode:' + CA.Pincode) AS CustomerAddress,

      -- Payment Info
      P.PaymentMethod,
      P.Amount AS PaymentAmount,

      -- Rider Earning Calculation (70% of net profit after item costs)
      CAST(
        0.7 * (
          P.Amount - (
            SELECT ISNULL(SUM(OI.TotalPrice), 0)
            FROM OrderItems OI 
            WHERE OI.OrderID = O.OrderID
          )
        ) AS DECIMAL(10,2)
      ) AS RiderEarning

  FROM Orders O
  INNER JOIN Restaurants R ON O.RestaurantID = R.RestaurantID
  INNER JOIN Users C ON O.CustomerID = C.UserID
  INNER JOIN CustomerAddresses CA ON O.AddressID = CA.AddressID
  LEFT JOIN Payments P ON O.OrderID = P.OrderID

  WHERE 
      O.RiderID = @RiderID
      AND O.OrderStatus IN ('Delivered', 'Cancelled')
  ORDER BY O.CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetRiders]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRiders]
    @PageNumber INT = 1,
    @PageSize INT = 5,
    @Search NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;

    DECLARE @TodayStart DATETIME = CAST(CONVERT(date, GETDATE()) AS DATETIME);
    DECLARE @Tomorrow DATETIME = DATEADD(day, 1, @TodayStart);
    DECLARE @MonthStart DATETIME = DATEADD(month, DATEDIFF(month, 0, GETDATE()), 0);
    DECLARE @WeekStart DATETIME = DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0);
    DECLARE @WeekEnd DATETIME = DATEADD(DAY, 7, @WeekStart);

    ;WITH RiderOrders AS (
        SELECT
            o.OrderID,
            o.RiderID,
            ISNULL(SUM(oi.TotalPrice), 0) AS OrderCost,
            ISNULL(MAX(p.Amount), 0) AS PaymentAmount,
            ISNULL(MAX(p.PaymentMethod), '') AS PaymentMethod,
            ISNULL(MAX(p.Status), '') AS PaymentStatus,
            ISNULL(MAX(p.PaymentDate), o.CreatedAt) AS PaymentDate,
            o.CreatedAt
        FROM Orders o
        LEFT JOIN OrderItems oi ON o.OrderID = oi.OrderID
        LEFT JOIN Payments p ON o.OrderID = p.OrderID
        WHERE o.IsActive = 1
        GROUP BY o.OrderID, o.RiderID, o.CreatedAt
    ),
    RiderAggregates AS (
        SELECT
            ro.RiderID,
            COUNT(1) AS TotalOrders,
            ISNULL(SUM(CASE 
                WHEN ro.PaymentDate >= @MonthStart AND ro.PaymentDate < @Tomorrow
                     AND ro.PaymentStatus = 'Success'
                THEN (0.7 * (ro.PaymentAmount - ro.OrderCost)) ELSE 0 END), 0.00) AS MonthlyEarnings,
            ISNULL(SUM(CASE
                WHEN ro.PaymentMethod = 'COD' AND ro.PaymentStatus = 'Success'
                     AND ro.PaymentDate >= @WeekStart AND ro.PaymentDate < @WeekEnd
                THEN ro.PaymentAmount ELSE 0 END), 0.00) AS FloatingCash
        FROM RiderOrders ro
        GROUP BY ro.RiderID
    )

    SELECT 
        r.UserID AS RiderID,
        CONCAT(r.FirstName, ' ', r.LastName) AS RiderName,
        r.Email,
        r.Phone,
        ISNULL(r.IsOnline, 0) AS IsOnline,
        r.IsActive,
        ISNULL(ra.TotalOrders, 0) AS TotalOrders,
        ISNULL(ra.MonthlyEarnings, 0.00) AS MonthlyEarnings,
        ISNULL(ra.FloatingCash, 0.00) AS FloatingCash,
        r.RegisteredDate
    FROM Users r
    LEFT JOIN RiderAggregates ra ON r.UserID = ra.RiderID
    WHERE r.RoleID = 2
    AND r.Status = 'Active'
      AND ( @Search IS NULL
            OR CONCAT(r.FirstName, ' ', r.LastName) LIKE '%' + @Search + '%'
            OR r.Email LIKE '%' + @Search + '%'
            OR r.Phone LIKE '%' + @Search + '%'
          )
    ORDER BY r.RegisteredDate DESC
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;

    SELECT COUNT(*) AS TotalCount
    FROM Users r
    WHERE r.RoleID = 2
    AND r.Status = 'Active'
      AND ( @Search IS NULL
            OR CONCAT(r.FirstName, ' ', r.LastName) LIKE '%' + @Search + '%'
            OR r.Email LIKE '%' + @Search + '%'
            OR r.Phone LIKE '%' + @Search + '%'
          );
END;
GO
/****** Object:  StoredProcedure [dbo].[RegisterUser]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegisterUser]
    @FirstName VARCHAR(50),
    @LastName VARCHAR(50),
    @Password VARCHAR(255),
    @Email VARCHAR(100),
    @Phone VARCHAR(20),
    @RoleID INT,
    @CreatedBy VARCHAR(50),
    @Status VARCHAR(20),
    @IsActive BIT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email)
    BEGIN
        SELECT -1 AS ResultCode;
        RETURN;
    END

    INSERT INTO Users (FirstName, LastName, Password, Email, Phone, RoleID, CreatedBy, CreatedAt, RegisteredDate, Status, IsActive)
    VALUES (@FirstName, @LastName, @Password, @Email, @Phone, @RoleID, @CreatedBy, GETDATE(), GETDATE(),  @Status, @IsActive);

    SELECT SCOPE_IDENTITY() AS ResultCode;
END;
GO
/****** Object:  StoredProcedure [dbo].[RemoveCartItem]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[RemoveCartItem]
    @CartID BIGINT
AS
BEGIN
    DELETE FROM Cart WHERE CartID = @CartID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SaveEmailOtp]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SaveEmailOtp]
    @Email      VARCHAR(100),
    @OtpCode    VARCHAR(10),
    @ExpiresAt  DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Now DATETIME = GETUTCDATE();
    DECLARE @LastCreatedAt DATETIME;

    SELECT TOP 1 @LastCreatedAt = CreatedAt
    FROM EmailOtps
    WHERE Email = @Email
    ORDER BY CreatedAt DESC;

    -- 60 seconds cooldown for resend
    IF (@LastCreatedAt IS NOT NULL AND DATEDIFF(SECOND, @LastCreatedAt, @Now) < 60)
    BEGIN
        SELECT
            CAST(0 AS BIT) AS Success,
            'Please wait 60 seconds before requesting a new OTP.' AS [Message];
        RETURN;
    END

    INSERT INTO EmailOtps (Email, OtpCode, ExpiresAt, IsUsed, CreatedAt)
    VALUES (@Email, @OtpCode, @ExpiresAt, 0, GETUTCDATE());

    SELECT
        CAST(1 AS BIT) AS Success,
        'OTP generated successfully.' AS [Message];
END;
GO
/****** Object:  StoredProcedure [dbo].[SaveOrder]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveOrder]
  @CustomerID INT,
  @RestaurantID INT,
  @AddressID INT,
  @TotalAmount DECIMAL(12,2),
  @DeliveryInstructions NVARCHAR(500) = NULL,
  @EstimatedDeliveryTime DATETIME = NULL
AS
BEGIN
  SET NOCOUNT ON;
  DECLARE @NewOrderID BIGINT;
  BEGIN TRY
    INSERT INTO Orders (
        CustomerID,RestaurantID,AddressID,TotalAmount,DeliveryInstructions,EstimatedDeliveryTime,
        PaymentStatus,OrderStatus,CreatedBy,CreatedAt,IsActive )
    VALUES (
        @CustomerID,@RestaurantID,@AddressID,@TotalAmount,@DeliveryInstructions,@EstimatedDeliveryTime,
        'Paid','Placed',NULL,GETDATE(),1);

    SET @NewOrderID = SCOPE_IDENTITY();

    SELECT @NewOrderID AS OrderID, 'Success' AS Result;
  END TRY
  BEGIN CATCH
    DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
    SELECT NULL AS OrderID, @ErrMsg AS Result;
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SaveOrderItems]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveOrderItems]
  @OrderItems OrderItemType READONLY
AS
BEGIN
  SET NOCOUNT ON;

  BEGIN TRY
    INSERT INTO OrderItems (
        OrderID,
        MenuItemID,
        Quantity,
        UnitPrice,
        CreatedBy,
        CreatedAt,
        IsActive
    )
    SELECT
        oi.OrderID,
        oi.MenuItemID,
        oi.Quantity,
        oi.UnitPrice,
        NULL,
        GETDATE(),
        1
    FROM @OrderItems oi;

    SELECT 'Success' AS Result;
  END TRY
  BEGIN CATCH
    DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
    SELECT @ErrMsg AS Result;
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SavePayment]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SavePayment]
  @OrderID BIGINT,
  @CustomerID INT,
  @PaymentMethod VARCHAR(50),
  @TransactionID VARCHAR(100) = NULL,
  @Provider VARCHAR(100) = NULL,
  @Amount DECIMAL(12,2)
AS
BEGIN
  SET NOCOUNT ON;

  BEGIN TRY
    INSERT INTO Payments (
        OrderID,CustomerID,PaymentMethod,TransactionID, Provider,Amount,
        Status,PaymentDate, CreatedBy,CreatedAt,IsActive
    )
    VALUES (
        @OrderID,@CustomerID,@PaymentMethod, @TransactionID, @Provider,@Amount,
        CASE WHEN @PaymentMethod = 'COD' THEN 'Pending' ELSE 'Success' END,
        GETDATE(),NULL,GETDATE(),1 );

    SELECT 'Success' AS Result;
  END TRY
  BEGIN CATCH
    DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
    SELECT @ErrMsg AS Result;
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SearchRestaurantsOrMenuItems]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchRestaurantsOrMenuItems]
    @SearchTerm NVARCHAR(100)
AS
BEGIN
    -- Search Restaurants
    SELECT 
        'Restaurant' AS Type,
        RestaurantID AS ID,
        Name,
        City ,
        State,
        Rating,
        NULL AS Price,
        NULL AS Category,
        NULL AS RestaurantID,
         ImageUrl
    FROM Restaurants
    WHERE IsActive = 1 
    AND IsOpen = 1
      AND (Name LIKE '%' + @SearchTerm + '%' 
           OR City LIKE '%' + @SearchTerm + '%' 
           OR State LIKE '%' + @SearchTerm + '%')

    UNION ALL

    -- Search Menu Items
    SELECT 
        'MenuItem' AS Type,
        MenuItemID AS ID,
        Name,
        NULL AS City,
        NULL AS State,
        NULL AS Rating,
        Price,
        Category,
        RestaurantID,
        ImageUrl
    FROM MenuItems
    WHERE IsActive = 1 
      AND IsAvailable = 1 
      AND (Name LIKE '%' + @SearchTerm + '%' 
           OR Category LIKE '%' + @SearchTerm + '%');
END
GO
/****** Object:  StoredProcedure [dbo].[SetRiderIsActive]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetRiderIsActive]
    @RiderID INT,
    @IsActive BIT,
    @ModifiedBy NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET IsActive = @IsActive,
        ModifiedBy = @ModifiedBy,
        ModifiedAt = GETDATE()
    WHERE UserID = @RiderID AND RoleID = 2;
    
    SELECT @@ROWCOUNT AS AffectedRows;
END;
GO
/****** Object:  StoredProcedure [dbo].[ToggleRestaurantOpen]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ToggleRestaurantOpen]
  @RestaurantID INT,
  @IsOpen BIT
AS
BEGIN
  UPDATE Restaurants
  SET IsOpen = @IsOpen, ModifiedAt = GETDATE()
  WHERE RestaurantID = @RestaurantID;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateCartItemQuantity]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[UpdateCartItemQuantity]
    @CartID BIGINT,
    @Quantity INT
AS
BEGIN
    UPDATE Cart
    SET Quantity = @Quantity,
        ModifiedAt = GETDATE()
    WHERE CartID = @CartID;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateMenuItem]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateMenuItem]
  @MenuItemID INT,
  @RestaurantID INT,
  @Name NVARCHAR(100),
  @Description NVARCHAR(500),
  @Category NVARCHAR(50),
  @Price DECIMAL(10,2),
  @ImageUrl NVARCHAR(255),
  @IsAvailable BIT,
  @IsActive BIT,
  @ModifiedBy NVARCHAR(50)
AS
BEGIN
  UPDATE MenuItems
  SET
    Name = @Name,
    Description = @Description,
    Category = @Category,
    Price = @Price,
    ImageUrl = @ImageUrl,
    IsAvailable = @IsAvailable,
    IsActive = @IsActive,
    ModifiedBy = @ModifiedBy,
    ModifiedAt = GETDATE()
  WHERE MenuItemID = @MenuItemID
    AND RestaurantID = @RestaurantID;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateOrderStatus]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE   PROCEDURE [dbo].[UpdateOrderStatus]
  @OrderID BIGINT,
  @OrderStatus VARCHAR(50),
  @ModifiedBy VARCHAR(100) = NULL
AS
BEGIN
  SET NOCOUNT ON;

  BEGIN TRY
    UPDATE Orders
    SET 
        OrderStatus = @OrderStatus,
        ModifiedBy = @ModifiedBy,
        ModifiedAt = GETDATE()
    WHERE OrderID = @OrderID;

    IF @@ROWCOUNT > 0
      SELECT 1 AS Success, 'Order status updated successfully.' AS Message;
    ELSE
      SELECT 0 AS Success, 'Order not found or update failed.' AS Message;
  END TRY
  BEGIN CATCH
    SELECT 0 AS Success, ERROR_MESSAGE() AS Message;
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateOrderStatusByRider]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE   PROCEDURE [dbo].[UpdateOrderStatusByRider]
  @OrderID BIGINT,
  @RiderID INT,
  @NewStatus VARCHAR(50)
AS
BEGIN
  SET NOCOUNT ON;

  UPDATE Orders
  SET OrderStatus = @NewStatus,
      ModifiedAt = GETDATE(),
      ModifiedBy = CONCAT('Rider_', @RiderID)
  WHERE OrderID = @OrderID AND RiderID = @RiderID;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateRestaurant]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateRestaurant]
  @RestaurantID INT,
  @Name VARCHAR(100),
  @Description NVARCHAR(500),
  @Address NVARCHAR(255),
  @City VARCHAR(100),
  @State VARCHAR(100),
  @Pincode VARCHAR(20),
  @OpeningTime TIME,
  @ClosingTime TIME,
  @IsOpen BIT,
  @ImageUrl NVARCHAR(500),
  @ModifiedBy VARCHAR(50)
AS
BEGIN
  SET NOCOUNT ON;

  UPDATE Restaurants
  SET
    Name = @Name,
    Description = @Description,
    Address = @Address,
    City = @City,
    State = @State,
    Pincode = @Pincode,
    OpeningTime = @OpeningTime,
    ClosingTime = @ClosingTime,
    IsOpen = @IsOpen,
    ImageUrl = @ImageUrl,
    ModifiedBy = @ModifiedBy,
    ModifiedAt = GETDATE()
  WHERE RestaurantID = @RestaurantID;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateRiderStatus]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateRiderStatus]
    @RiderID INT,
    @IsOnline BIT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @RiderID AND RoleID = 2)
    BEGIN
        SELECT 0 AS Success, 'Rider not found.' AS Message;
        RETURN;
    END
    UPDATE Users
    SET 
        IsOnline = @IsOnline,
        ModifiedAt = GETDATE(),
        ModifiedBy = 'System'
    WHERE UserID = @RiderID;
    SELECT 1 AS Success, 
           CASE WHEN @IsOnline = 1 THEN 'Rider is now Online.' ELSE 'Rider is now Offline.' END AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserProfileImage]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUserProfileImage]
    @UserID BIGINT,
    @ProfileImagePath NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET ProfileImagePath = @ProfileImagePath
    WHERE UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[VerifyEmailOtp]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[VerifyEmailOtp]
    @Email      VARCHAR(100),
    @OtpCode    VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Now DATETIME = GETUTCDATE();
    DECLARE @OtpId INT;

    SELECT TOP 1 @OtpId = OtpId
    FROM EmailOtps
    WHERE Email = @Email
      AND OtpCode = @OtpCode
      AND IsUsed = 0
      AND ExpiresAt >= @Now
    ORDER BY CreatedAt DESC;

    IF (@OtpId IS NULL)
    BEGIN
        SELECT
            CAST(0 AS BIT) AS Success,
            'Invalid or expired OTP.' AS [Message];
        RETURN;
    END

    UPDATE EmailOtps
    SET IsUsed = 1,
        VerifiedAt = @Now
    WHERE OtpId = @OtpId;

    SELECT
        CAST(1 AS BIT) AS Success,
        'OTP verified successfully.' AS [Message];
END;
GO
/****** Object:  Trigger [dbo].[trg_UpdatePaymentStatus_OnOrderDelivered]    Script Date: 1/21/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_UpdatePaymentStatus_OnOrderDelivered]
ON [dbo].[Orders]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE P
    SET 
        P.Status = 'Success',
        P.ModifiedAt = GETDATE(),
        P.ModifiedBy = 'SystemTrigger'
    FROM Payments P
    INNER JOIN inserted i ON P.OrderID = i.OrderID
    INNER JOIN deleted d ON d.OrderID = i.OrderID
    WHERE 
        i.OrderStatus = 'Delivered' 
        AND d.OrderStatus <> 'Delivered';
END;
GO
ALTER TABLE [dbo].[Orders] ENABLE TRIGGER [trg_UpdatePaymentStatus_OnOrderDelivered]
GO
USE [master]
GO
