.admin-content {
  margin-left: 226px;
  margin-top: 68px;
  padding: 20px 40px;
  background: #fefeff;
  min-height: 100vh;
  box-sizing: border-box;
}

.page-header {
  margin-bottom: 20px;
  margin-top: -30px;
  margin-left: 25px;
}

.page-header h2 {
  font-size: 1.8rem;
  color: #ff5722;
  font-weight: 700;
  margin-bottom: 5px;
}

.page-header p {
  color: #666;
  font-size: 0.95rem;
}

.rider-list-container {
  background: #eae8f38a;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 94%;
  margin-left: 10px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  width: 60%;
 
}

.search-input {
  width: 60%;
}

 button[mat-raised-button] {
  margin-left: 685px;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  margin-top: -80px;
  background-color: #ff5722;
  color: white;
}

.rider-table {
  background-color: #eef0ff7e;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-top: -20px;
}

.pagination {
  background-color: #eae8f38a;
}



.online {
  color: #16a34a;
  font-weight: 600;
}

.offline {
  color: #dc2626;
  font-weight: 600;
}

/* Snackbar styles */
.snackbar-success {
  background-color: #4caf50;
  color: #fff;
}

.snackbar-error {
  background-color: #f44336;
  color: #fff;
}
