USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetCustomerAddresses]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCustomerAddresses]
    @CustomerID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        AddressID,CustomerID, AddressLine1,AddressLine2, City,State,Pincode,
        Latitude,Longitude,IsDefault,CreatedAt,IsActive
    FROM CustomerAddresses
    WHERE CustomerID = @CustomerID AND IsActive = 1;
END;
GO
