USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetRestaurantDashboard]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetRestaurantDashboard]
    @RestaurantID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TodayStart DATETIME = CAST(GETDATE() AS DATE);
    DECLARE @WeekStart DATETIME = DATEADD(DAY, -DATEPART(WEEKDAY, GETDATE()) + 1, CAST(GETDATE() AS DATE));
    DECLARE @MonthStart DATETIME = DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1);

    SELECT 
        U.FirstName + ' ' + U.LastName AS UserName,
        R.IsOpen,
        
        -- Orders
        (SELECT COUNT(*) FROM Orders O WHERE O.RestaurantID = @RestaurantID AND CAST(O.CreatedAt AS DATE) = CAST(GETDATE() AS DATE)) AS TodaysOrders,
        (SELECT COUNT(*) FROM Orders O WHERE O.RestaurantID = @RestaurantID) AS TotalOrders,
        
        -- Earnings
        (SELECT ISNULL(SUM(OI.TotalPrice), 0) 
         FROM OrderItems OI
         INNER JOIN Orders O ON O.OrderID = OI.OrderID
         WHERE O.RestaurantID = @RestaurantID 
         AND CAST(O.CreatedAt AS DATE) = CAST(GETDATE() AS DATE)) AS TodaysEarnings,

        (SELECT ISNULL(SUM(OI.TotalPrice), 0) 
         FROM OrderItems OI
         INNER JOIN Orders O ON O.OrderID = OI.OrderID
         WHERE O.RestaurantID = @RestaurantID 
         AND O.CreatedAt >= @WeekStart) AS WeeklyEarnings,

        (SELECT ISNULL(SUM(OI.TotalPrice), 0) 
         FROM OrderItems OI
         INNER JOIN Orders O ON O.OrderID = OI.OrderID
         WHERE O.RestaurantID = @RestaurantID 
         AND O.CreatedAt >= @MonthStart) AS MonthlyEarnings,

        (SELECT ISNULL(SUM(OI.TotalPrice), 0)
         FROM OrderItems OI
         INNER JOIN Orders O ON O.OrderID = OI.OrderID
         WHERE O.RestaurantID = @RestaurantID) AS TotalEarnings

    FROM Restaurants R
    INNER JOIN Users U ON R.UserID = U.UserID
    WHERE R.RestaurantID = @RestaurantID;
END
GO
