USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[SaveOrderItems]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveOrderItems]
  @OrderItems OrderItemType READONLY
AS
BEGIN
  SET NOCOUNT ON;

  BEGIN TRY
    INSERT INTO OrderItems (
        OrderID,
        MenuItemID,
        Quantity,
        UnitPrice,
        CreatedBy,
        CreatedAt,
        IsActive
    )
    SELECT
        oi.OrderID,
        oi.MenuItemID,
        oi.Quantity,
        oi.UnitPrice,
        NULL,
        GETDATE(),
        1
    FROM @OrderItems oi;

    SELECT 'Success' AS Result;
  END TRY
  BEGIN CATCH
    DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
    SELECT @ErrMsg AS Result;
  END CATCH
END
GO
