USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetOrdersByCustomerID]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetOrdersByCustomerID]
    @CustomerID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        o.OrderID,
        o.RestaurantID,
        r.Name AS RestaurantName,
        o.TotalAmount,
        o.PaymentStatus,
        o.OrderStatus,
        o.DeliveryInstructions,
        o.EstimatedDeliveryTime,
        o.CreatedAt AS OrderDate,

        -- Rider Info (if assigned)
        u.UserID AS RiderID,
        CONCAT(u.FirstName, ' ', u.LastName) AS RiderName,
        u.Phone AS RiderPhone,

        -- Order Item details
        oi.OrderItemID,
        oi.MenuItemID,
        m.Name AS MenuItemName,
        m.ImageUrl,
        oi.Quantity,
        oi.UnitPrice,
        oi.TotalPrice
    FROM Orders o
    INNER JOIN OrderItems oi ON o.OrderID = oi.OrderID
    INNER JOIN MenuItems m ON oi.MenuItemID = m.MenuItemID
    INNER JOIN Restaurants r ON o.RestaurantID = r.RestaurantID
    LEFT JOIN Users u ON o.RiderID = u.UserID   -- Rider is optional
    WHERE o.CustomerID = @CustomerID
    ORDER BY o.CreatedAt DESC;
END;
GO
