USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetRestaurantByUser]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetRestaurantByUser]
  @UserID INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT TOP 1
    RestaurantID,UserID,Name,Description,Address,City,State,
    Pincode,Latitude,Longitude, OpeningTime,ClosingTime,Rating,
    ImageUrl,IsOpen,CreatedAt,ModifiedAt
  FROM Restaurants
  WHERE UserID = @UserID AND IsActive = 1;
END;
GO
