USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserProfileImage]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUserProfileImage]
    @UserID BIGINT,
    @ProfileImagePath NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET ProfileImagePath = @ProfileImagePath
    WHERE UserID = @UserID;
END
GO
