USE [Food Delivery Platform]
GO
/****** Object:  Table [dbo].[Restaurants]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurants](
	[RestaurantID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Address] [nvarchar](255) NULL,
	[City] [varchar](100) NULL,
	[State] [varchar](100) NULL,
	[Pincode] [varchar](20) NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[OpeningTime] [time](7) NULL,
	[ClosingTime] [time](7) NULL,
	[Rating] [decimal](3, 2) NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[IsOpen] [bit] NULL,
	[ImageUrl] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RestaurantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Restaurants] ADD  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[Restaurants] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Restaurants] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Restaurants] ADD  DEFAULT ((1)) FOR [IsOpen]
GO
ALTER TABLE [dbo].[Restaurants]  WITH CHECK ADD  CONSTRAINT [FK_Restaurants_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Restaurants] CHECK CONSTRAINT [FK_Restaurants_Users]
GO
