USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[ApproveRestaurant]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ApproveRestaurant]
    @UserID INT,
    @ModifiedBy VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Users
    SET 
        Status = 'Active',IsActive = 1,ModifiedBy = @ModifiedBy,ModifiedAt = GETDATE()
    WHERE UserID = @UserID AND RoleID = 3;
    IF @@ROWCOUNT > 0
        SELECT 1 AS Success, 'User approved successfully.' AS Message;
    ELSE
        SELECT 0 AS Success, 'User approval failed or User not found.' AS Message;
END;
GO
