USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetRestaurantsByCategory]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRestaurantsByCategory]
    @Category VARCHAR(50)
AS
BEGIN
    SELECT 
        m.MenuItemID,
        m.Name ,
        m.Description AS MenuDescription,
        m.Category,
        m.Price,
        m.ImageUrl ,
        m.IsAvailable,
        r.RestaurantID,
        r.Name AS RestaurantName,
        r.City,
        r.State,
        r.Rating
    FROM MenuItems m
    INNER JOIN Restaurants r ON m.RestaurantID = r.RestaurantID
    WHERE m.Category = @Category
      AND m.IsActive = 1
      AND m.IsAvailable = 1
      AND r.IsActive = 1
    ORDER BY r.Rating DESC, m.Name;
END;
GO
