USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetCartByUser]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetCartByUser]
  @UserID INT
AS
BEGIN
  SET NOCOUNT ON;

  SELECT 
    o.OrderID,
    o.RestaurantID,
    r.Name,
    r.Address AS RestaurantAddress,
    o.TotalAmount,
    o.OrderStatus,
    m.MenuItemID,
    m.Name AS MenuItemName,
    m.Price,
    m.ImageUrl,
    oi.Quantity
  FROM Orders o
  JOIN OrderItems oi ON o.OrderID = oi.OrderID
  JOIN MenuItems m ON oi.MenuItemID = m.MenuItemID
  JOIN Restaurants r ON o.RestaurantID = r.RestaurantID
  WHERE o.CustomerID = @UserID AND o.OrderStatus = 'Pending';
END
GO
