USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[RemoveCartItem]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[RemoveCartItem]
    @CartID BIGINT
AS
BEGIN
    DELETE FROM Cart WHERE CartID = @CartID;
END;
GO
