USE [Food Delivery Platform]
GO
/****** Object:  UserDefinedTableType [dbo].[OrderItemType]    Script Date: 1/21/2026 3:22:03 PM ******/
CREATE TYPE [dbo].[OrderItemType] AS TABLE(
	[OrderID] [bigint] NULL,
	[MenuItemID] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](10, 2) NULL
)
GO
