USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetRestaurantActiveOrdersCount]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRestaurantActiveOrdersCount]
    @RestaurantID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*) AS ActiveOrdersCount
    FROM Orders
    WHERE RestaurantID = @RestaurantID
      AND OrderStatus IN ('Accepted', 'Preparing', 'Ready')
      AND IsActive = 1;
END;
GO
