USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[AuthenticateUser]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AuthenticateUser]
    @Email NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        U.UserID,U.FirstName,U.LastName,U.Email,U.Password,U.Phone,U.IsActive,
        R.RoleName
    FROM Users U
    INNER JOIN Roles R ON U.RoleID = R.RoleID
    WHERE U.Email = @Email;
END
GO
