USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[AddRestaurant]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AddRestaurant]
  @UserID INT,
  @Name VARCHAR(100),
  @Description NVARCHAR(500),
  @Address NVARCHAR(255),
  @City VARCHAR(100),
  @State VARCHAR(100),
  @Pincode VARCHAR(20),
  @Latitude DECIMAL(9,6) = NULL,
  @Longitude DECIMAL(9,6) = NULL,
  @OpeningTime TIME,
  @ClosingTime TIME,
  @ImageUrl NVARCHAR(500),
  @CreatedBy VARCHAR(50)
AS
BEGIN
  SET NOCOUNT ON;

  INSERT INTO Restaurants (
    UserID, Name, Description, Address, City, State, Pincode,
    Latitude, Longitude, OpeningTime, ClosingTime, ImageUrl,
    CreatedBy, CreatedAt, IsActive, IsOpen
  )
  VALUES (
    @UserID, @Name, @Description, @Address, @City, @State, @Pincode,
    @Latitude, @Longitude, @OpeningTime, @ClosingTime, @ImageUrl,
    @CreatedBy, GETDATE(), 1, 1
  );

  SELECT SCOPE_IDENTITY() AS NewRestaurantID;
END;
GO
