USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[ChangeUserPassword]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ChangeUserPassword]
    @UserID INT,
    @OldPassword NVARCHAR(100),
    @NewPassword NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ExistingPassword NVARCHAR(100);

    SELECT @ExistingPassword = Password FROM Users WHERE UserID = @UserID;

    IF @ExistingPassword IS NULL
    BEGIN
        RAISERROR('User not found.', 16, 1);
        RETURN;
    END

    IF @ExistingPassword <> @OldPassword
    BEGIN
        RAISERROR('Old password is incorrect.', 16, 1);
        RETURN;
    END

    UPDATE Users
    SET Password = @NewPassword, ModifiedAt = GETDATE()
    WHERE UserID = @UserID;
END
GO
