USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetMenuItemById]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMenuItemById]
  @MenuItemID INT
AS
BEGIN
  SET NOCOUNT ON;

  SELECT 
    MenuItemID,
    RestaurantID,
    Name,
    Description,
    Category,
    Price,
    ImageUrl,
    IsAvailable,
    IsActive,
    CreatedBy,
    CreatedAt,
    ModifiedBy,
    ModifiedAt
  FROM MenuItems
  WHERE MenuItemID = @MenuItemID;
END;
GO
