USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetRiderDashboard]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRiderDashboard]
    @RiderID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TodayStart DATETIME = CAST(CONVERT(date, GETDATE()) AS DATETIME);
    DECLARE @Tomorrow DATETIME = DATEADD(day, 1, @TodayStart);
    DECLARE @MonthStart DATETIME = DATEADD(month, DATEDIFF(month, 0, GETDATE()), 0);

    -- Current week boundaries: Monday to next Monday
    DECLARE @WeekStart DATETIME = DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0);
    DECLARE @WeekEnd DATETIME = DATEADD(DAY, 7, @WeekStart);

    ;WITH RiderOrderSummary AS (
        SELECT 
            o.OrderID,
            o.RiderID,
            ISNULL(SUM(oi.TotalPrice), 0) AS OrderCost,
            ISNULL(MAX(p.Amount), 0) AS PaymentAmount,
            ISNULL(MAX(p.PaymentMethod), '') AS PaymentMethod,
            ISNULL(MAX(p.Status), '') AS PaymentStatus,
            ISNULL(MAX(p.PaymentDate), o.CreatedAt) AS PaymentDate,
            o.CreatedAt
        FROM Orders o
        LEFT JOIN Payments p ON o.OrderID = p.OrderID
        LEFT JOIN OrderItems oi ON o.OrderID = oi.OrderID
        WHERE o.RiderID = @RiderID AND o.IsActive = 1
        GROUP BY o.OrderID, o.RiderID, o.CreatedAt
    )
    SELECT
        -- Total & Today order counts
        ISNULL(COUNT(1), 0) AS TotalOrders,
        ISNULL(SUM(CASE WHEN CreatedAt >= @TodayStart AND CreatedAt < @Tomorrow THEN 1 ELSE 0 END), 0) AS TodayOrders,

        -- Today's earnings
        ISNULL(SUM(
            CASE 
                WHEN PaymentDate >= @TodayStart AND PaymentDate < @Tomorrow 
                     AND PaymentStatus = 'Success' 
                THEN (0.7 * (PaymentAmount - OrderCost)) 
                ELSE 0 
            END
        ), 0.00) AS TodayEarnings,

        -- Weekly earnings (Monday–Sunday)
        ISNULL(SUM(
            CASE 
                WHEN PaymentDate >= @WeekStart AND PaymentDate < @WeekEnd
                     AND PaymentStatus = 'Success'
                THEN (0.7 * (PaymentAmount - OrderCost)) 
                ELSE 0 
            END
        ), 0.00) AS WeeklyEarnings,

        -- Monthly earnings
        ISNULL(SUM(
            CASE 
                WHEN PaymentDate >= @MonthStart AND PaymentDate < @Tomorrow 
                     AND PaymentStatus = 'Success'
                THEN (0.7 * (PaymentAmount - OrderCost)) 
                ELSE 0 
            END
        ), 0.00) AS MonthlyEarnings,

        -- Floating cash (COD success, resets weekly)
        ISNULL(SUM(
            CASE 
                WHEN PaymentMethod = 'COD' 
                     AND PaymentStatus = 'Success'
                     AND PaymentDate >= @WeekStart AND PaymentDate < @WeekEnd
                THEN PaymentAmount 
                ELSE 0 
            END
        ), 0.00) AS FloatingCash
    FROM RiderOrderSummary;
END
GO
