USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[UpdateMenuItem]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateMenuItem]
  @MenuItemID INT,
  @RestaurantID INT,
  @Name NVARCHAR(100),
  @Description NVARCHAR(500),
  @Category NVARCHAR(50),
  @Price DECIMAL(10,2),
  @ImageUrl NVARCHAR(255),
  @IsAvailable BIT,
  @IsActive BIT,
  @ModifiedBy NVARCHAR(50)
AS
BEGIN
  UPDATE MenuItems
  SET
    Name = @Name,
    Description = @Description,
    Category = @Category,
    Price = @Price,
    ImageUrl = @ImageUrl,
    IsAvailable = @IsAvailable,
    IsActive = @IsActive,
    ModifiedBy = @ModifiedBy,
    ModifiedAt = GETDATE()
  WHERE MenuItemID = @MenuItemID
    AND RestaurantID = @RestaurantID;
END;
GO
