USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[AssignRiderToOrder]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AssignRiderToOrder]
    @OrderID BIGINT,
    @RiderID INT,
    @ModifiedBy VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Orders
    SET 
        RiderID = @RiderID,
        ModifiedBy = @ModifiedBy,
        ModifiedAt = GETDATE()
    WHERE OrderID = @OrderID;

    SELECT @@ROWCOUNT AS RowsAffected;
END;
GO
