USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[UpdateCartItemQuantity]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[UpdateCartItemQuantity]
    @CartID BIGINT,
    @Quantity INT
AS
BEGIN
    UPDATE Cart
    SET Quantity = @Quantity,
        ModifiedAt = GETDATE()
    WHERE CartID = @CartID;
END;
GO
