USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetAllOrdersWithDetails]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllOrdersWithDetails]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        o.OrderID,
        o.CustomerID,
        c.FirstName + ' ' + c.LastName AS CustomerName,
        o.RestaurantID,
        r.Name AS RestaurantName,
        o.RiderID,
        rd.FirstName + ' ' + rd.LastName AS RiderName,
        o.TotalAmount,
        o.PaymentStatus,
        o.OrderStatus,
        o.DeliveryInstructions,
        o.EstimatedDeliveryTime,
        o.CreatedAt,
        (
            SELECT 
                mi.Name AS ItemName,
                oi.Quantity,
                oi.UnitPrice,
                (oi.Quantity * oi.UnitPrice) AS TotalPrice,
                mi.ImageUrl
            FROM OrderItems oi
            INNER JOIN MenuItems mi ON oi.MenuItemID = mi.MenuItemID
            WHERE oi.OrderID = o.OrderID
            FOR JSON PATH
        ) AS OrderItems
    FROM Orders o
    INNER JOIN Users c ON o.CustomerID = c.UserID
    INNER JOIN Restaurants r ON o.RestaurantID = r.RestaurantID
    LEFT JOIN Users rd ON o.RiderID = rd.UserID
    ORDER BY o.CreatedAt DESC;
END;
GO
