USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetAllRiders]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllRiders]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UserID AS RiderID,
        FirstName + ' ' + LastName AS RiderName
    FROM Users
    WHERE RoleID = 2 
      AND IsOnline = 1 
      AND Status = 'Active'
    ORDER BY RiderName;
END;
GO
