USE [Food Delivery Platform]
GO
/****** Object:  Table [dbo].[RiderLocations]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RiderLocations](
	[RiderLocationID] [bigint] IDENTITY(1,1) NOT NULL,
	[RiderID] [int] NOT NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[LastUpdatedAt] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RiderLocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RiderLocations] ADD  DEFAULT (getdate()) FOR [LastUpdatedAt]
GO
ALTER TABLE [dbo].[RiderLocations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RiderLocations] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RiderLocations]  WITH CHECK ADD  CONSTRAINT [FK_RiderLocations_Riders] FOREIGN KEY([RiderID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[RiderLocations] CHECK CONSTRAINT [FK_RiderLocations_Riders]
GO
