USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetAdminDashboardStats]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAdminDashboardStats]
AS
BEGIN
    SET NOCOUNT ON;

    -- Total orders
    DECLARE @TotalOrders INT = (SELECT COUNT(1) FROM Orders WHERE IsActive = 1);

    -- Today's orders
    DECLARE @TodaysOrders INT = (
        SELECT COUNT(1) FROM Orders
        WHERE CAST(CreatedAt AS DATE) = CAST(GETDATE() AS DATE) AND IsActive = 1
    );

    -- Total earnings (completed payments)
    DECLARE @TotalEarnings DECIMAL(18,2) = (
        SELECT ISNULL(SUM(Amount),0) FROM Payments
        WHERE Status = 'Success' AND IsActive = 1
    );

    -- Today's earnings
    DECLARE @TodaysEarnings DECIMAL(18,2) = (
        SELECT ISNULL(SUM(Amount),0) FROM Payments
        WHERE Status = 'Success' AND CAST(PaymentDate AS DATE) = CAST(GETDATE() AS DATE) AND IsActive = 1
    );

    /*
      Profit calculation:
        TotalProfit = SUM(Orders.TotalAmount for completed orders/payments) - SUM(OrderItems.TotalPrice for those orders)
      We'll consider Orders that have a completed payment record (Payments.Status='Completed')
    */

    DECLARE @TotalOrderAmount DECIMAL(18,2) = (
        SELECT ISNULL(SUM(o.TotalAmount),0)
        FROM Orders o
        JOIN Payments p ON p.OrderID = o.OrderID
        WHERE p.Status = 'Success' AND p.IsActive = 1 AND o.IsActive = 1
    );

    DECLARE @TotalItemsAmount DECIMAL(18,2) = (
        SELECT ISNULL(SUM(oi.TotalPrice),0)
        FROM OrderItems oi
        JOIN Orders o ON o.OrderID = oi.OrderID
        JOIN Payments p ON p.OrderID = o.OrderID
        WHERE p.Status = 'Success' AND p.IsActive = 1 AND oi.IsActive = 1 AND o.IsActive = 1
    );

    DECLARE @TotalProfit DECIMAL(18,2) = ISNULL(@TotalOrderAmount,0) - ISNULL(@TotalItemsAmount,0);

    -- Today's profit (completed payments made today)
    DECLARE @TodaysOrderAmount DECIMAL(18,2) = (
        SELECT ISNULL(SUM(o.TotalAmount),0)
        FROM Orders o
        JOIN Payments p ON p.OrderID = o.OrderID
        WHERE p.Status = 'Success' AND CAST(p.PaymentDate AS DATE) = CAST(GETDATE() AS DATE)
          AND p.IsActive = 1 AND o.IsActive = 1
    );

    DECLARE @TodaysItemsAmount DECIMAL(18,2) = (
        SELECT ISNULL(SUM(oi.TotalPrice),0)
        FROM OrderItems oi
        JOIN Orders o ON o.OrderID = oi.OrderID
        JOIN Payments p ON p.OrderID = o.OrderID
        WHERE p.Status = 'Success' AND CAST(p.PaymentDate AS DATE) = CAST(GETDATE() AS DATE)
          AND p.IsActive = 1 AND oi.IsActive = 1 AND o.IsActive = 1
    );

    DECLARE @TodaysProfit DECIMAL(18,2) = ISNULL(@TodaysOrderAmount,0) - ISNULL(@TodaysItemsAmount,0);

    -- Counts
    DECLARE @TotalCustomers INT = (SELECT COUNT(1) FROM Users WHERE IsActive = 1 AND RoleID = 1);
    DECLARE @TotalRiders INT = (SELECT COUNT(1) FROM Users WHERE IsActive = 1 AND RoleID = 2);
    DECLARE @TotalRestaurants INT = (SELECT COUNT(1) FROM Restaurants WHERE IsActive = 1);

    SELECT
        @TotalOrders AS TotalOrders,
        @TodaysOrders AS TodaysOrders,
        @TotalEarnings AS TotalEarnings,
        @TodaysEarnings AS TodaysEarnings,
        @TotalProfit AS TotalProfit,
        @TodaysProfit AS TodaysProfit,
        @TotalCustomers AS TotalCustomers,
        @TotalRiders AS TotalRiders,
        @TotalRestaurants AS TotalRestaurants;
END
GO
