USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetPendingRiders]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPendingRiders]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UserID AS RiderID,
        FirstName + ' ' + LastName AS RiderName,
        Email,Phone, Status,RegisteredDate,IsActive
    FROM Users
    WHERE RoleID = 2 AND Status = 'Pending';
END;
GO
