USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetAdminRecentOrders]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAdminRecentOrders]
    @TopN INT = 5
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@TopN)
        o.OrderID,
        o.CustomerID,
        cus.FirstName + ' ' + cus.LastName AS CustomerName,
        o.RestaurantID,
        r.Name AS RestaurantName,
        o.TotalAmount,
        o.PaymentStatus,
        o.OrderStatus,
        o.EstimatedDeliveryTime,
        o.CreatedAt
    FROM Orders o
    LEFT JOIN Users cus ON cus.UserID = o.CustomerID
    LEFT JOIN Restaurants r ON r.RestaurantID = o.RestaurantID
    WHERE o.IsActive = 1
    ORDER BY o.CreatedAt DESC;
END
GO
