USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetLiveOrderCountForRider]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE   PROCEDURE [dbo].[GetLiveOrderCountForRider]
  @RiderID INT
AS
BEGIN
  SET NOCOUNT ON;

  SELECT 
      COUNT(*) AS LiveOrderCount
  FROM Orders
  WHERE 
      RiderID = @RiderID
      AND OrderStatus NOT IN ('Delivered', 'Cancelled');
END;
GO
