USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[UpdateRestaurant]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateRestaurant]
  @RestaurantID INT,
  @Name VARCHAR(100),
  @Description NVARCHAR(500),
  @Address NVARCHAR(255),
  @City VARCHAR(100),
  @State VARCHAR(100),
  @Pincode VARCHAR(20),
  @OpeningTime TIME,
  @ClosingTime TIME,
  @IsOpen BIT,
  @ImageUrl NVARCHAR(500),
  @ModifiedBy VARCHAR(50)
AS
BEGIN
  SET NOCOUNT ON;

  UPDATE Restaurants
  SET
    Name = @Name,
    Description = @Description,
    Address = @Address,
    City = @City,
    State = @State,
    Pincode = @Pincode,
    OpeningTime = @OpeningTime,
    ClosingTime = @ClosingTime,
    IsOpen = @IsOpen,
    ImageUrl = @ImageUrl,
    ModifiedBy = @ModifiedBy,
    ModifiedAt = GETDATE()
  WHERE RestaurantID = @RestaurantID;
END;
GO
