USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetRiderOrderDetails]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE PROCEDURE [dbo].[GetRiderOrderDetails]
  @OrderID BIGINT,
  @RiderID INT
AS
BEGIN
  SET NOCOUNT ON;

  -- ✅ Main order, restaurant, and customer info
  SELECT 
      O.OrderID,
      O.TotalAmount,
      O.CreatedAt,
      O.OrderStatus,
      O.DeliveryInstructions,

      -- Restaurant Info
      R.RestaurantID,
      R.Name AS RestaurantName,
      (R.Address + ', ' + R.City + ', ' + R.State + ', Pincode:' + R.Pincode) AS RestaurantAddress,
      R.ImageUrl AS RestaurantImage,
      RU.Phone AS RestaurantPhone,

      -- Customer Info
      C.UserID AS CustomerID,
      (C.FirstName + ' ' + C.LastName) AS CustomerName,
      (CA.AddressLine1 + ', ' + CA.City + ', ' + CA.State + ', Pincode:' + CA.Pincode) AS CustomerAddress,
      C.Phone AS CustomerPhone,

      -- Payment Info
      P.PaymentMethod,
      P.Status AS PaymentStatus,
      P.Amount AS PaymentAmount,

      -- Rider Earning (70% of (payment amount - order item total))
      CAST(0.7 * (P.Amount - (
        SELECT ISNULL(SUM(OI.TotalPrice), 0)
        FROM OrderItems OI WHERE OI.OrderID = O.OrderID
      )) AS DECIMAL(10,2)) AS RiderEarning

  FROM Orders O
  INNER JOIN Restaurants R ON O.RestaurantID = R.RestaurantID
  INNER JOIN Users RU ON R.UserID = RU.UserID
  INNER JOIN Users C ON O.CustomerID = C.UserID
  INNER JOIN CustomerAddresses CA ON O.AddressID = CA.AddressID
  LEFT JOIN Payments P ON O.OrderID = P.OrderID
  WHERE 
      O.OrderID = @OrderID AND
      O.RiderID = @RiderID;

  -- ✅ Order items with menu info
  SELECT 
      OI.OrderItemID,
      OI.OrderID,
      OI.MenuItemID,
      M.Name AS MenuItemName,
      M.ImageUrl AS MenuItemImage,
      OI.Quantity,
      OI.UnitPrice,
      OI.TotalPrice
  FROM OrderItems OI
  INNER JOIN MenuItems M ON OI.MenuItemID = M.MenuItemID
  WHERE OI.OrderID = @OrderID;
END;
GO
