USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetLiveOrdersForRestaurant]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetLiveOrdersForRestaurant]
  @RestaurantID INT
AS
BEGIN
  SET NOCOUNT ON;

  SELECT
      o.OrderID,
      o.OrderStatus,
      o.TotalAmount,
      o.CreatedAt AS OrderTime,

      -- Customer Details
      c.FirstName + ' ' + c.LastName AS CustomerName,
      c.Phone AS CustomerPhone,
      ca.AddressLine1 + ', ' + ISNULL(ca.AddressLine2 + ', ', '') +
      ca.City + ', ' + ca.State + ' - ' + ca.Pincode AS CustomerAddress,

      -- Rider Details (if assigned)
      r.FirstName + ' ' + r.LastName AS RiderName,
      r.Phone AS RiderPhone,

      -- Menu Items (joined in subquery)
      mi.MenuItemID,
      mi.Name AS ItemName,
      mi.ImageUrl AS ItemImage,
      oi.Quantity,
      oi.UnitPrice,
      oi.TotalPrice

  FROM Orders o
  INNER JOIN Users c ON o.CustomerID = c.UserID
  INNER JOIN CustomerAddresses ca ON o.AddressID = ca.AddressID
  LEFT JOIN Users r ON o.RiderID = r.UserID
  INNER JOIN OrderItems oi ON o.OrderID = oi.OrderID
  INNER JOIN MenuItems mi ON oi.MenuItemID = mi.MenuItemID

  WHERE 
      o.RestaurantID = @RestaurantID
      AND o.OrderStatus IN ('Accepted', 'Preparing', 'Ready')
      AND o.IsActive = 1
  ORDER BY o.CreatedAt DESC;
END
GO
