USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetAllActiveRestaurants]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllActiveRestaurants]
AS
BEGIN
    SELECT 
        RestaurantID, Name, Description, Address,ImageUrl, City, State, Pincode, Latitude,
        Longitude, OpeningTime, ClosingTime, Rating, IsActive, IsOpen
    FROM Restaurants
    WHERE IsActive = 1
    AND IsOpen = 1
    ORDER BY Rating DESC, Name;
END
GO
