USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[AddMenuItem]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddMenuItem]
    @RestaurantID INT,
    @Name NVARCHAR(100),
    @Description NVARCHAR(500) = NULL,
    @Category NVARCHAR(50) = NULL,
    @Price DECIMAL(10,2),
    @ImageUrl NVARCHAR(255) = NULL,
    @IsAvailable BIT = 1,
    @CreatedBy NVARCHAR(50),
    @IsActive BIT = 1
AS
BEGIN
    BEGIN TRY
        INSERT INTO MenuItems (
            RestaurantID, Name, Description, Category, Price, ImageUrl,
            IsAvailable, CreatedBy, CreatedAt, IsActive
        )
        VALUES (
            @RestaurantID, @Name, @Description, @Category, @Price, @ImageUrl,
            @IsAvailable, @CreatedBy, GETDATE(), @IsActive
        );

        SELECT 
            SCOPE_IDENTITY() AS MenuItemID,
            'Menu item added successfully' AS Message;
    END TRY
    BEGIN CATCH
        SELECT 
            ERROR_MESSAGE() AS ErrorMessage;
    END CATCH;
END;
GO
