USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[UpdateRiderStatus]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateRiderStatus]
    @RiderID INT,
    @IsOnline BIT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @RiderID AND RoleID = 2)
    BEGIN
        SELECT 0 AS Success, 'Rider not found.' AS Message;
        RETURN;
    END
    UPDATE Users
    SET 
        IsOnline = @IsOnline,
        ModifiedAt = GETDATE(),
        ModifiedBy = 'System'
    WHERE UserID = @RiderID;
    SELECT 1 AS Success, 
           CASE WHEN @IsOnline = 1 THEN 'Rider is now Online.' ELSE 'Rider is now Offline.' END AS Message;
END
GO
