USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetCategories]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCategories]
AS
BEGIN
    SELECT DISTINCT 
        c.CategoryName,
        c.CategoryImageUrl
    FROM MenuItems m
    INNER JOIN Categories c 
        ON m.Category = c.CategoryName
    WHERE m.IsActive = 1 
          AND m.IsAvailable = 1 
          AND m.Category IS NOT NULL
          AND c.IsActive = 1
    ORDER BY c.CategoryName;
END
GO
