USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[AddCustomerAddress]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddCustomerAddress]
    @CustomerID INT,
    @AddressLine1 NVARCHAR(255),
    @AddressLine2 NVARCHAR(255),
    @City VARCHAR(100),
    @State VARCHAR(100),
    @Pincode VARCHAR(20),
    @Latitude DECIMAL(9,6) = NULL,
    @Longitude DECIMAL(9,6) = NULL,
    @CreatedBy VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO CustomerAddresses (
        CustomerID, AddressLine1, AddressLine2, City,State, Pincode,
        Latitude,Longitude,CreatedBy,CreatedAt,IsDefault,IsActive)
    VALUES (
        @CustomerID,@AddressLine1,@AddressLine2, @City,@State,
        @Pincode,@Latitude,@Longitude,@CreatedBy,GETDATE(), 0,1);
    SELECT SCOPE_IDENTITY() AS NewAddressID;
END;
GO
