USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetDistinctCategories]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDistinctCategories]
AS
BEGIN
    SELECT DISTINCT 
        Category AS CategoryName
    FROM MenuItems
    WHERE IsActive = 1 
          AND IsAvailable = 1 
          AND Category IS NOT NULL
    ORDER BY Category;
END
GO
