USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetActiveOrdersCount]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetActiveOrdersCount]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*) AS ActiveOrdersCount
    FROM Orders
    WHERE OrderStatus NOT IN ('Delivered', 'Cancelled')
      AND IsActive = 1;
END;
GO
