USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetRiders]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRiders]
    @PageNumber INT = 1,
    @PageSize INT = 5,
    @Search NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;

    DECLARE @TodayStart DATETIME = CAST(CONVERT(date, GETDATE()) AS DATETIME);
    DECLARE @Tomorrow DATETIME = DATEADD(day, 1, @TodayStart);
    DECLARE @MonthStart DATETIME = DATEADD(month, DATEDIFF(month, 0, GETDATE()), 0);
    DECLARE @WeekStart DATETIME = DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0);
    DECLARE @WeekEnd DATETIME = DATEADD(DAY, 7, @WeekStart);

    ;WITH RiderOrders AS (
        SELECT
            o.OrderID,
            o.RiderID,
            ISNULL(SUM(oi.TotalPrice), 0) AS OrderCost,
            ISNULL(MAX(p.Amount), 0) AS PaymentAmount,
            ISNULL(MAX(p.PaymentMethod), '') AS PaymentMethod,
            ISNULL(MAX(p.Status), '') AS PaymentStatus,
            ISNULL(MAX(p.PaymentDate), o.CreatedAt) AS PaymentDate,
            o.CreatedAt
        FROM Orders o
        LEFT JOIN OrderItems oi ON o.OrderID = oi.OrderID
        LEFT JOIN Payments p ON o.OrderID = p.OrderID
        WHERE o.IsActive = 1
        GROUP BY o.OrderID, o.RiderID, o.CreatedAt
    ),
    RiderAggregates AS (
        SELECT
            ro.RiderID,
            COUNT(1) AS TotalOrders,
            ISNULL(SUM(CASE 
                WHEN ro.PaymentDate >= @MonthStart AND ro.PaymentDate < @Tomorrow
                     AND ro.PaymentStatus = 'Success'
                THEN (0.7 * (ro.PaymentAmount - ro.OrderCost)) ELSE 0 END), 0.00) AS MonthlyEarnings,
            ISNULL(SUM(CASE
                WHEN ro.PaymentMethod = 'COD' AND ro.PaymentStatus = 'Success'
                     AND ro.PaymentDate >= @WeekStart AND ro.PaymentDate < @WeekEnd
                THEN ro.PaymentAmount ELSE 0 END), 0.00) AS FloatingCash
        FROM RiderOrders ro
        GROUP BY ro.RiderID
    )

    SELECT 
        r.UserID AS RiderID,
        CONCAT(r.FirstName, ' ', r.LastName) AS RiderName,
        r.Email,
        r.Phone,
        ISNULL(r.IsOnline, 0) AS IsOnline,
        r.IsActive,
        ISNULL(ra.TotalOrders, 0) AS TotalOrders,
        ISNULL(ra.MonthlyEarnings, 0.00) AS MonthlyEarnings,
        ISNULL(ra.FloatingCash, 0.00) AS FloatingCash,
        r.RegisteredDate
    FROM Users r
    LEFT JOIN RiderAggregates ra ON r.UserID = ra.RiderID
    WHERE r.RoleID = 2
    AND r.Status = 'Active'
      AND ( @Search IS NULL
            OR CONCAT(r.FirstName, ' ', r.LastName) LIKE '%' + @Search + '%'
            OR r.Email LIKE '%' + @Search + '%'
            OR r.Phone LIKE '%' + @Search + '%'
          )
    ORDER BY r.RegisteredDate DESC
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;

    SELECT COUNT(*) AS TotalCount
    FROM Users r
    WHERE r.RoleID = 2
    AND r.Status = 'Active'
      AND ( @Search IS NULL
            OR CONCAT(r.FirstName, ' ', r.LastName) LIKE '%' + @Search + '%'
            OR r.Email LIKE '%' + @Search + '%'
            OR r.Phone LIKE '%' + @Search + '%'
          );
END;
GO
