USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetCartItemsByCustomer]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[GetCartItemsByCustomer]
    @CustomerID INT
AS
BEGIN
    SELECT 
        c.CartID,
        c.CustomerID,
        c.RestaurantID,
        c.MenuItemID,
        m.Name AS ItemName,
        m.Price AS UnitPrice,
        m.ImageUrl,
        c.Quantity,
        (m.Price * c.Quantity) AS TotalPrice,
        r.Name AS RestaurantName
    FROM Cart c
    INNER JOIN MenuItems m ON c.MenuItemID = m.MenuItemID
    INNER JOIN Restaurants r ON c.RestaurantID = r.RestaurantID
    WHERE c.CustomerID = @CustomerID;
END;
GO
