USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[SetRiderIsActive]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetRiderIsActive]
    @RiderID INT,
    @IsActive BIT,
    @ModifiedBy NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET IsActive = @IsActive,
        ModifiedBy = @ModifiedBy,
        ModifiedAt = GETDATE()
    WHERE UserID = @RiderID AND RoleID = 2;
    
    SELECT @@ROWCOUNT AS AffectedRows;
END;
GO
