USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetPendingRestaurants]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPendingRestaurants]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        UserID AS UserID,
        FirstName + ' ' + LastName AS Name,
        Email,Phone, Status,RegisteredDate,IsActive
    FROM Users
    WHERE RoleID = 3 AND Status = 'Pending';
END;
GO
