USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[SearchRestaurantsOrMenuItems]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchRestaurantsOrMenuItems]
    @SearchTerm NVARCHAR(100)
AS
BEGIN
    -- Search Restaurants
    SELECT 
        'Restaurant' AS Type,
        RestaurantID AS ID,
        Name,
        City ,
        State,
        Rating,
        NULL AS Price,
        NULL AS Category,
        NULL AS RestaurantID,
         ImageUrl
    FROM Restaurants
    WHERE IsActive = 1 
    AND IsOpen = 1
      AND (Name LIKE '%' + @SearchTerm + '%' 
           OR City LIKE '%' + @SearchTerm + '%' 
           OR State LIKE '%' + @SearchTerm + '%')

    UNION ALL

    -- Search Menu Items
    SELECT 
        'MenuItem' AS Type,
        MenuItemID AS ID,
        Name,
        NULL AS City,
        NULL AS State,
        NULL AS Rating,
        Price,
        Category,
        RestaurantID,
        ImageUrl
    FROM MenuItems
    WHERE IsActive = 1 
      AND IsAvailable = 1 
      AND (Name LIKE '%' + @SearchTerm + '%' 
           OR Category LIKE '%' + @SearchTerm + '%');
END
GO
