USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetAllMenuItems]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllMenuItems]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        m.MenuItemID,
        m.Name AS MenuItemName,
        m.Description,
        m.Price,
        m.ImageUrl AS MenuImage,
        r.RestaurantID,
        r.Name AS RestaurantName,
        r.City,
        r.State,
        r.ImageUrl AS RestaurantImage,
        r.Rating
    FROM MenuItems m
    INNER JOIN Restaurants r ON m.RestaurantID = r.RestaurantID
    WHERE m.IsActive = 1 
      AND m.IsAvailable = 1 
      AND r.IsActive = 1 
    ORDER BY r.Name, m.Name;
END;
GO
