USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[UpdateOrderStatusByRider]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE   PROCEDURE [dbo].[UpdateOrderStatusByRider]
  @OrderID BIGINT,
  @RiderID INT,
  @NewStatus VARCHAR(50)
AS
BEGIN
  SET NOCOUNT ON;

  UPDATE Orders
  SET OrderStatus = @NewStatus,
      ModifiedAt = GETDATE(),
      ModifiedBy = CONCAT('Rider_', @RiderID)
  WHERE OrderID = @OrderID AND RiderID = @RiderID;
END;
GO
