USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetCartItemCount]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCartItemCount]
    @CustomerID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ISNULL(SUM(Quantity), 0) AS TotalQuantity
    FROM Cart
    WHERE CustomerID = @CustomerID;
END
GO
