USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[AddOrUpdateCart]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddOrUpdateCart]
  @UserID INT,
  @RestaurantID INT,
  @MenuItemID INT,
  @Quantity INT
AS
BEGIN
  SET NOCOUNT ON;

  DECLARE @OrderID INT;

  -- ✅ Check for existing "pending" order for the same restaurant
  SELECT @OrderID = OrderID 
  FROM Orders 
  WHERE CustomerID = @UserID AND RestaurantID = @RestaurantID AND OrderStatus = 'Pending';

  -- ✅ If no pending order, create a new one
  IF @OrderID IS NULL
  BEGIN
    INSERT INTO Orders (CustomerID, RestaurantID, EstimatedDeliveryTime, OrderStatus, TotalAmount)
    VALUES (@UserID, @RestaurantID, GETDATE(), 'Pending', 0);

    SET @OrderID = SCOPE_IDENTITY();
  END

  -- ✅ Check if the menu item already exists in the order
  IF EXISTS (SELECT 1 FROM OrderItems WHERE OrderID = @OrderID AND MenuItemID = @MenuItemID)
  BEGIN
    UPDATE OrderItems
    SET Quantity = Quantity + @Quantity
    WHERE OrderID = @OrderID AND MenuItemID = @MenuItemID;
  END
  ELSE
  BEGIN
    INSERT INTO OrderItems (OrderID, MenuItemID, Quantity)
    VALUES (@OrderID, @MenuItemID, @Quantity);
  END

  -- ✅ Recalculate total amount
  UPDATE Orders
  SET TotalAmount = (
    SELECT SUM(oi.Quantity * m.Price)
    FROM OrderItems oi
    JOIN MenuItems m ON oi.MenuItemID = m.MenuItemID
    WHERE oi.OrderID = @OrderID
  )
  WHERE OrderID = @OrderID;

  SELECT * FROM Orders WHERE OrderID = @OrderID;
END
GO
