USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[SaveEmailOtp]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SaveEmailOtp]
    @Email      VARCHAR(100),
    @OtpCode    VARCHAR(10),
    @ExpiresAt  DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Now DATETIME = GETUTCDATE();
    DECLARE @LastCreatedAt DATETIME;

    SELECT TOP 1 @LastCreatedAt = CreatedAt
    FROM EmailOtps
    WHERE Email = @Email
    ORDER BY CreatedAt DESC;

    -- 60 seconds cooldown for resend
    IF (@LastCreatedAt IS NOT NULL AND DATEDIFF(SECOND, @LastCreatedAt, @Now) < 60)
    BEGIN
        SELECT
            CAST(0 AS BIT) AS Success,
            'Please wait 60 seconds before requesting a new OTP.' AS [Message];
        RETURN;
    END

    INSERT INTO EmailOtps (Email, OtpCode, ExpiresAt, IsUsed, CreatedAt)
    VALUES (@Email, @OtpCode, @ExpiresAt, 0, GETUTCDATE());

    SELECT
        CAST(1 AS BIT) AS Success,
        'OTP generated successfully.' AS [Message];
END;
GO
