USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[SaveOrder]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveOrder]
  @CustomerID INT,
  @RestaurantID INT,
  @AddressID INT,
  @TotalAmount DECIMAL(12,2),
  @DeliveryInstructions NVARCHAR(500) = NULL,
  @EstimatedDeliveryTime DATETIME = NULL
AS
BEGIN
  SET NOCOUNT ON;
  DECLARE @NewOrderID BIGINT;
  BEGIN TRY
    INSERT INTO Orders (
        CustomerID,RestaurantID,AddressID,TotalAmount,DeliveryInstructions,EstimatedDeliveryTime,
        PaymentStatus,OrderStatus,CreatedBy,CreatedAt,IsActive )
    VALUES (
        @CustomerID,@RestaurantID,@AddressID,@TotalAmount,@DeliveryInstructions,@EstimatedDeliveryTime,
        'Paid','Placed',NULL,GETDATE(),1);

    SET @NewOrderID = SCOPE_IDENTITY();

    SELECT @NewOrderID AS OrderID, 'Success' AS Result;
  END TRY
  BEGIN CATCH
    DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
    SELECT NULL AS OrderID, @ErrMsg AS Result;
  END CATCH
END
GO
