USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[SavePayment]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SavePayment]
  @OrderID BIGINT,
  @CustomerID INT,
  @PaymentMethod VARCHAR(50),
  @TransactionID VARCHAR(100) = NULL,
  @Provider VARCHAR(100) = NULL,
  @Amount DECIMAL(12,2)
AS
BEGIN
  SET NOCOUNT ON;

  BEGIN TRY
    INSERT INTO Payments (
        OrderID,CustomerID,PaymentMethod,TransactionID, Provider,Amount,
        Status,PaymentDate, CreatedBy,CreatedAt,IsActive
    )
    VALUES (
        @OrderID,@CustomerID,@PaymentMethod, @TransactionID, @Provider,@Amount,
        CASE WHEN @PaymentMethod = 'COD' THEN 'Pending' ELSE 'Success' END,
        GETDATE(),NULL,GETDATE(),1 );

    SELECT 'Success' AS Result;
  END TRY
  BEGIN CATCH
    DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
    SELECT @ErrMsg AS Result;
  END CATCH
END
GO
