USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetRiderOrderHistory]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRiderOrderHistory]
  @RiderID INT
AS
BEGIN
  SET NOCOUNT ON;

  SELECT 
      O.OrderID,
      O.CreatedAt,
      O.OrderStatus,
      O.TotalAmount,
      
      R.Name AS RestaurantName,
      (R.Address + ', ' + R.City + ', ' + R.State + ', Pincode:' + R.Pincode) AS RestaurantAddress,
      R.ImageUrl AS RestaurantImage,

      -- Customer Info
      (C.FirstName + ' ' + C.LastName) AS CustomerName,
      (CA.AddressLine1 + ', ' + CA.City + ', ' + CA.State + ', Pincode:' + CA.Pincode) AS CustomerAddress,

      -- Payment Info
      P.PaymentMethod,
      P.Amount AS PaymentAmount,

      -- Rider Earning Calculation (70% of net profit after item costs)
      CAST(
        0.7 * (
          P.Amount - (
            SELECT ISNULL(SUM(OI.TotalPrice), 0)
            FROM OrderItems OI 
            WHERE OI.OrderID = O.OrderID
          )
        ) AS DECIMAL(10,2)
      ) AS RiderEarning

  FROM Orders O
  INNER JOIN Restaurants R ON O.RestaurantID = R.RestaurantID
  INNER JOIN Users C ON O.CustomerID = C.UserID
  INNER JOIN CustomerAddresses CA ON O.AddressID = CA.AddressID
  LEFT JOIN Payments P ON O.OrderID = P.OrderID

  WHERE 
      O.RiderID = @RiderID
      AND O.OrderStatus IN ('Delivered', 'Cancelled')
  ORDER BY O.CreatedAt DESC;
END;
GO
