USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[ClearCartByCustomer]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[ClearCartByCustomer]
    @CustomerID INT
AS
BEGIN
    DELETE FROM Cart WHERE CustomerID = @CustomerID;
END;
GO
