USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetLiveOrdersForRider]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetLiveOrdersForRider]
  @RiderID INT
AS
BEGIN
  SET NOCOUNT ON;

  SELECT 
      O.OrderID,
      O.TotalAmount,
      O.OrderStatus,
      O.CreatedAt,
      
      -- Restaurant Info
      R.RestaurantID,
      R.Name AS RestaurantName,
     (R.Address + ',' + R.City + ',' + R.State + ', Pincode:' + R.Pincode )AS RestaurantAddress,
      R.ImageUrl AS RestaurantImage,
      RU.Phone AS RestaurantPhone,

      -- Customer Info
      C.UserID AS CustomerID,
      (C.FirstName + ' ' + C.LastName) AS CustomerName,
      (CA.AddressLine1 + ',' + CA.City + ',' + CA.State + ', Pincode:' + CA.Pincode) AS CustomerAddress,
      C.Phone AS CustomerPhone

  FROM Orders O
  INNER JOIN Restaurants R ON O.RestaurantID = R.RestaurantID
  INNER JOIN Users RU ON R.UserID = RU.UserID
  INNER JOIN Users C ON O.CustomerID = C.UserID
  INNER JOIN CustomerAddresses CA ON O.AddressID = CA.AddressID
  WHERE 
      O.RiderID = @RiderID
      AND O.OrderStatus NOT IN ('Delivered', 'Cancelled')
  ORDER BY O.CreatedAt DESC;
END;
GO
