USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[ConfirmOrder]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ConfirmOrder]
  @OrderID INT,
  @PaymentMethod NVARCHAR(50),
  @AddressID INT,
  @TotalPaid DECIMAL(10,2)
AS
BEGIN
  SET NOCOUNT ON;

  UPDATE Orders
  SET OrderStatus = 'Confirmed',
      EstimatedDeliveryTime = GETDATE()
  WHERE OrderID = @OrderID;

  INSERT INTO Payments (OrderID, Amount, PaymentDate, PaymentMethod, Status)
  VALUES (@OrderID, @TotalPaid, GETDATE(), @PaymentMethod, 'Paid');

  SELECT * FROM Orders WHERE OrderID = @OrderID;
END
GO
