USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[RegisterUser]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegisterUser]
    @FirstName VARCHAR(50),
    @LastName VARCHAR(50),
    @Password VARCHAR(255),
    @Email VARCHAR(100),
    @Phone VARCHAR(20),
    @RoleID INT,
    @CreatedBy VARCHAR(50),
    @Status VARCHAR(20),
    @IsActive BIT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email)
    BEGIN
        SELECT -1 AS ResultCode;
        RETURN;
    END

    INSERT INTO Users (FirstName, LastName, Password, Email, Phone, RoleID, CreatedBy, CreatedAt, RegisteredDate, Status, IsActive)
    VALUES (@FirstName, @LastName, @Password, @Email, @Phone, @RoleID, @CreatedBy, GETDATE(), GETDATE(),  @Status, @IsActive);

    SELECT SCOPE_IDENTITY() AS ResultCode;
END;
GO
