USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[AddOrUpdateCartItem]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AddOrUpdateCartItem]
    @CustomerID INT,
    @RestaurantID INT,
    @MenuItemID INT,
    @Quantity INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM Cart 
        WHERE CustomerID = @CustomerID 
          AND RestaurantID = @RestaurantID 
          AND MenuItemID = @MenuItemID
    )
    BEGIN
        UPDATE Cart
        SET Quantity = Quantity + @Quantity,
            ModifiedAt = GETDATE()
        WHERE CustomerID = @CustomerID 
          AND RestaurantID = @RestaurantID 
          AND MenuItemID = @MenuItemID;
    END
    ELSE
    BEGIN
        INSERT INTO Cart (CustomerID, RestaurantID, MenuItemID, Quantity)
        VALUES (@CustomerID, @RestaurantID, @MenuItemID, @Quantity);
    END
END;
GO
