USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[ToggleRestaurantOpen]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ToggleRestaurantOpen]
  @RestaurantID INT,
  @IsOpen BIT
AS
BEGIN
  UPDATE Restaurants
  SET IsOpen = @IsOpen, ModifiedAt = GETDATE()
  WHERE RestaurantID = @RestaurantID;
END;
GO
