USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[UpdateOrderStatus]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE   PROCEDURE [dbo].[UpdateOrderStatus]
  @OrderID BIGINT,
  @OrderStatus VARCHAR(50),
  @ModifiedBy VARCHAR(100) = NULL
AS
BEGIN
  SET NOCOUNT ON;

  BEGIN TRY
    UPDATE Orders
    SET 
        OrderStatus = @OrderStatus,
        ModifiedBy = @ModifiedBy,
        ModifiedAt = GETDATE()
    WHERE OrderID = @OrderID;

    IF @@ROWCOUNT > 0
      SELECT 1 AS Success, 'Order status updated successfully.' AS Message;
    ELSE
      SELECT 0 AS Success, 'Order not found or update failed.' AS Message;
  END TRY
  BEGIN CATCH
    SELECT 0 AS Success, ERROR_MESSAGE() AS Message;
  END CATCH
END;
GO
