USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[VerifyEmailOtp]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[VerifyEmailOtp]
    @Email      VARCHAR(100),
    @OtpCode    VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Now DATETIME = GETUTCDATE();
    DECLARE @OtpId INT;

    SELECT TOP 1 @OtpId = OtpId
    FROM EmailOtps
    WHERE Email = @Email
      AND OtpCode = @OtpCode
      AND IsUsed = 0
      AND ExpiresAt >= @Now
    ORDER BY CreatedAt DESC;

    IF (@OtpId IS NULL)
    BEGIN
        SELECT
            CAST(0 AS BIT) AS Success,
            'Invalid or expired OTP.' AS [Message];
        RETURN;
    END

    UPDATE EmailOtps
    SET IsUsed = 1,
        VerifiedAt = @Now
    WHERE OtpId = @OtpId;

    SELECT
        CAST(1 AS BIT) AS Success,
        'OTP verified successfully.' AS [Message];
END;
GO
