USE [Food Delivery Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetMenuItemsByRestaurant]    Script Date: 1/21/2026 3:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMenuItemsByRestaurant]
    @RestaurantID INT,
    @Role NVARCHAR(50)
AS
BEGIN
    SELECT 
        MenuItemID, RestaurantID, Name, Description, Category, Price, ImageUrl,
        IsAvailable, IsActive
    FROM MenuItems
    WHERE RestaurantID = @RestaurantID
          AND IsActive = 1
          AND (
              @Role = 'Restaurant'       -- show all
              OR IsAvailable = 1         -- restrict for others
          )
    ORDER BY Category, Name;
END
GO
